<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ScanShowSell Mobile Website Builder</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="css/jquery.fileupload-ui.css">
    <link href="css/template_create.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAVSqAzgPLn6hnw7NqrJxW-BRe7sDIkaei9_QOoSx4oTVMhOsiLxSciM_Lb80M38AQaVMw0okrfII5kQ"></script>
    <script type="text/javascript">
      google.load("jquery", "1.7.1");
      google.load("jqueryui", "1.8.16");
    </script>

    <script src="js/bootstrap-tabs.js"></script>
    <script src="js/bootstrap-alerts.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/index.js"></script>
   <script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
   
 </head>

 <body>
   <div class="topbar">  <!--  Topbar  -->
     <div class="fill">
       <div class="container">
       	 <ul class="nav">
       	   <li class="active"><a href="#">Home</a></li>
       	   <li><a href="#about">About</a></li>
       	   <li><a href="#contact">Contact</a></li>
       	 </ul>
       	 <ul class="secondary-nav">
       	   <li><a href="register">Register</a></li>
       	   <li><a href="login">Login</a></li>
       	   <li><a href="logout">Logout</a></li>
       	 </ul>
       </div>  <!--  Container  -->
     </div>  <!--  Fill  -->
   </div>  <!--  Topbar  -->

   <div class="row">
   <div id="page-wrap" class="container">  <!--  Page Wrap  -->
	 <header>
   	   <a href="http://www.scanshowsell.com"><img src="images/title_sm.png" alt="ScanShowSell.com" border="0" /></a>
   	   <ul class="main-nav pull-right">
   	   	 <li><a href="#benefits">Benefits</a></li>
   	   	 <li><a href="#process">Process</a></li>
   	   	 <li><a href="#buyers">Buyers</a></li>
   	   	 <li><a href="#sellers">Sellers</a></li>
   	   	 <li><a href="#about">About</a></li>
   	   </ul>
	 </header>
	 
	 <div id="wizard-nav" class="row">
       <ul class="tabs">
         <li class="active"><a href="#start-website">1. Start your website</a></li>
         <li><a href="#manage-fields">2. Manage fields</a></li>
         <li><a href="#manage-pictures">3. Manage pictures</a></li>
         <li><a href="#feature-photo">4. Feature photo</a></li>
         <li><a href="#choose-template">5. Choose template</a></li>
         <li><a href="#preview-publish">6. Preview & Publish</a></li>
       </ul>
     </div>
     
     <div class="row mwb-banner">
	   <p>Welcome to the Mobile Website Builder!</p>
	 </div>
     
     <div class="pill-content">
     <div id="start-website" class="active tab-pane">
       <div class="row">
         <div id="instructions" class="span7">
         	 <h4>Create a new website!</h4>
         	 <p>Create a new website using our mobile website builder. First, you need to pick a name for your website. Choose something that is short and easy to remember.</p>
         </div>
         
	     <div id="create-website-block" class="span8">
	       <form>
	           <h4>Choose a name</h4>
	           <label for="websiteName">Website name</label>
	           <div class="input">
	             <input type="text" id="websiteName" name="websiteName"></input>
	           </div>
	           <br />
	           <label for="name-preview" style="width:150px;">Name Preview</label>
	           <p class="name-preview">http://www.scanshowsell.com/m/yourwebsitename</p>
	           <br />
	           <p><a id="new-btn" class="btn large success" href="manage-fields.html">Create new &raquo;</a></p>
	       </form>
         </div>
         <div class="alert-message error hide" id="nameAlert">
           <a class="close" href="#">×</a>
           <strong>Website name</strong>
           <p>Please give your website a name!</p>
         </div>
       </div>  <!-- /row -->
     </div> <!-- /start-website -->
     
     <div id="manage-fields" class="tab-pane">
       <div class="row">
       <div id="information" class="span16">
         <h4>2. Listing information</h4>
       </div>
       
       <div class="span16">
       <div id="tabs">
	     <ul id="jq-tabs">
	     	<li><a href="#listing-details">Listing Details</a></li>
	     	<li><a href="#interior-details">Interior Details</a></li>
	     	<li><a href="#exterior-details">Exterior Details</a></li>
	     	<li><a href="#area-information">Area Information</a></li>
	     </ul>
	     
	     <div id="listing-details">
	     <h5>Listing details</h5>
	     	<form id="fieldsForm" name="listing-details-1" action="mobile/updateFields">
         	 <div class="clearfix">
               <label>Street Address</label>
               <div class="input">
               <input class="large" id="lInput" name="Street" type="text" placeholder="333 Eleanor Street" />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>City</label>
               <div class="input">
               <input class="large" id="lInput" name="City" type="text" placeholder="Anytown" />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>State </label>
               <div class="input">
               <input class="mini" id="mini" name="State" type="text" placeholder="Georgia" />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>ZIP </label>
               <div class="input">
               <input class="mini" id="mini" name="Zipcode" type="text" placeholder="12345" />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Price </label>
               <div class="input">
               <input class="large" id="large" name="Price" type="text" placeholder="USD $300,000" />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label for="smallSelect">Bedrooms</label>
               <div class="input">
                 <select class="small" name="Bedrooms" id="smallSelect">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                   <option>6+</option>
                 </select>
               </div>
              </div><!-- /clearfix -->
              <div class="clearfix">
               <label for="smallSelect">Full Baths</label>
               <div class="input">
                 <select class="small" name="Full baths" id="smallSelect">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                   <option>6+</option>
                 </select>
               </div>
              </div><!-- /clearfix -->
              <div class="clearfix">
               <label for="smallSelect">Half Baths</label>
               <div class="input">
                 <select class="small" name="Half baths" id="smallSelect">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                   <option>6+</option>
                 </select>
               </div>
              </div><!-- /clearfix -->
              <div class="clearfix">
               <label>Square Feet </label>
               <div class="input">
               <input class="large" id="large" name="sqft" type="text" placeholder=" " />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Price per Square Foot</label>
               <div class="input">
               <input class="large" id="large" name="Price per sqft" type="text" placeholder=" " />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Price </label>
               <div class="input">
               <input class="large" id="large" name="Price" type="text" placeholder="USD $300,000" />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label for="mediumSelect">Style</label>
               <div class="input">
                 <select class="medium" name="Style" id="mediumSelect">
                   <option>Ranch</option>
                   <option>Split Level</option>
                   <option>Georgian</option>
                   <option>Victorian</option>
                   <option>Colonial</option>
                   <option>Ante Bellum</option>
                 </select>
               </div>
              </div><!-- /clearfix -->
              <div class="clearfix">
               <label for="smallSelect">Stories</label>
               <div class="input">
                 <select class="small" name="Stories" id="smallSelect">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                   <option>6+</option>
                 </select>
               </div>
              </div><!-- /clearfix -->
              <div class="clearfix">
               <label>Year Built </label>
               <div class="input">
               <input class="mini" id="mini" name="Year Built" type="text" placeholder="YYYY" />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Web Address </label>
               <div class="input">
               <input class="large" id="large" name="web address" type="text" placeholder="www.yoursite.com" />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Description</label>
               <div class="input">
               <textarea name="Description" placeholder="Short description" value="" rows="5" class="span5"></textarea>
               </div>
             </div>  <!-- /clearfix -->
             </form>
	     </div>
	     
	     <div id="interior-details">
	     <h5>Interior details</h5>
	     	<form id="fieldsForm" name="interior-details" action="mobile/updateFields">
             <div class="clearfix">
               <label for="multiSelect">Appliances</label>
               <div class="input">
                 <select class="medium" multiple="multiple" name="Appliances" id="multiSelect">
                   <option>Refrigerator</option>
                   <option>Range/Oven</option>
                   <option>Range Only</option>
                   <option>Dish Washer</option>
                   <option>Trash Compactor</option>
                   <option>Washing Machine</option>
                   <option>Dryer</option>
                 </select>
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label for="mediumSelect">Heating</label>
               <div class="input">
                 <select class="medium" name="Heating" id="mediumSelect">
                   <option>central</option>
                   <option>radiant</option>
                 </select>
               </div>
              </div><!-- /clearfix -->
              <div class="clearfix">
               <label for="mediumSelect">Cooling</label>
               <div class="input">
                 <select class="medium" name="Cooling" id="mediumSelect">
                   <option>central</option>
                   <option>radiant</option>
                 </select>
               </div>
              </div><!-- /clearfix -->
              <div class="clearfix">
               <label for="smallSelect">Fireplaces</label>
               <div class="input">
                 <select class="small" name="Fireplaces" id="smallSelect">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                   <option>6+</option>
                 </select>
               </div>
              </div><!-- /clearfix -->
              <div class="clearfix">
               <label for="smallSelect">Master Bath</label>
               <div class="input">
                 <select class="small" name="Master bath" id="smallSelect">
                   <option>Yes</option>
                   <option>No</option>
                 </select>
               </div>
              </div><!-- /clearfix -->
              <div class="clearfix">
               <label>Kitchen</label>
               <div class="input">
               <input class="small" id="small" name="kitchen" type="text" placeholder=" " />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Basement</label>
               <div class="input">
               <select class="small" name="Basement" id="smallSelect">
                   <option>Yes</option>
                   <option>No</option>
               </select>
               </div>
             </div>  <!-- /clearfix -->
             </form>
	     </div>
	     
	     <div id="exterior-details">
	     <h5>Exterior details</h5>
	     	<form id="fieldsForm" name="exterior-details" action="mobile/updateFields">
         	  <div class="clearfix">
               <label>Garage</label>
               <div class="input">
               <select class="small" name="Garage" id="smallSelect">
                   <option>Yes</option>
                   <option>No</option>
               </select>
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label for="smallSelect">Number of Spaces</label>
               <div class="input">
                 <select class="small" name="Garage spaces" id="smallSelect">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                   <option>5</option>
                   <option>6+</option>
                 </select>
               </div>
              </div><!-- /clearfix -->
              <div class="clearfix">
               <label>Pool</label>
               <div class="input">
               <select class="small" name="Pool" id="smallSelect">
                   <option>Yes</option>
                   <option>No</option>
               </select>
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Lot Size</label>
               <div class="input">
               <input class="small" id="small" name="Lot size" type="text" placeholder="acres" />
               </div>
             </div>  <!-- /clearfix -->
             </form>
	     </div>
	     
	     <div id="area-information">
	     <h5>Area information</h5>
	     	<form id="fieldsForm" name="area-info" action="mobile/updateFields">
         	 <div class="clearfix">
               <label>Latitude</label>
               <div class="input">
               <input class="large" id="large" name="Latitude" type="text" placeholder=" " />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Longitude</label>
               <div class="input">
               <input class="large" id="large" name="Longitude" type="text" placeholder=" " />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Subdivision</label>
               <div class="input">
               <input class="large" id="large" name="Subdivision" type="text" placeholder=" " />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>School Disctrict</label>
               <div class="input">
               <input class="large" id="large" name="School disctrict" type="text" placeholder=" " />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Elementary School</label>
               <div class="input">
               <input class="large" id="large" name="Elementary school" type="text" placeholder=" " />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Middle School</label>
               <div class="input">
               <input class="large" id="large" name="Middle school" type="text" placeholder=" " />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>High School</label>
               <div class="input">
               <input class="large" id="large" name="High school" type="text" placeholder=" " />
               </div>
             </div><!-- /clearfix -->
             <div class="clearfix">
               <label>Virtual Tour</label>
               <div class="input">
               <select class="small" name="Virtual tour" id="smallSelect">
                   <option>Yes</option>
                   <option>No</option>
               </select>
               </div>
             </div>  <!-- /clearfix -->
             </form>
	     </div>  <!-- /area-info -->
       </div>  <!-- /tabs -->
       </div>  <!--/span16 -->
       </div>
     </div>
     
     <div id="manage-pictures" class="tab-pane">
       <div class="row">
       <div id="information" class="span16">
         <h4>3. Manage photos</h4>
       </div>
           
       <div id="upload-wrap" class="span16">
           	     <form id="fileupload" action="fileupload/upload" method="POST" enctype="multipart/form-data">
                   <div class="span16 fileupload-buttonbar">
                     <span class="btn success fileinput-button">
                       <span>Add files...</span>
                       <input type="file" name="files[]" multiple="multiple"></input>
                     </span>
                     <button type="submit" class="btn primary start">Upload all</button>
                   </div>
                 </form>
                 
           	     <div id="photo-panel">
           	       <div class="thumb-wrap">
			         <img class="thumbnail" src="http://placehold.it/210x150" alt="">
			       </div>  <!-- /thumb-wrap -->
			       <div class="photo-form">
			         <form class="form-stacked">
			         <fieldset>
        	         <div class="clearfix">
			           <label for="caption">Photo caption</label>
			           <div class="input">
        	           <input type="text" class="span3" name="caption" />
        	           </div>
        	         </div><!-- /clearfix -->
        	         <div class="photo-buttons" >
        	           <button type="submit" class="btn small primary start">Start upload</button>
			           <button type="button" class="btn small danger delete">Remove photo</button>
        	         </div><!-- /photo-buttons -->
        	         <div class="progressbar"><div style="width:0%;"></div></div>
			         </fieldset>
			         </form>
			       </div>  <!-- /photo-form -->
           	     </div>  <!-- /photo-panel -->
           	     
           	     <div id="photo-panel">
           	       <div class="thumb-wrap">
			         <img class="thumbnail" src="http://placehold.it/210x150" alt="">
			       </div>  <!-- /thumb-wrap -->
			       <div class="photo-form">
			         <form class="form-stacked">
			         <fieldset>
        	         <div class="clearfix">
			           <label for="caption">Photo caption</label>
			           <div class="input">
        	           <input type="text" class="span3" name="caption" />
        	           </div>
        	         </div><!-- /clearfix -->
        	         <div class="photo-buttons" >
        	           <button type="submit" class="btn small primary start">Start upload</button>
			           <button type="button" class="btn small danger delete">Remove photo</button>
        	         </div><!-- /photo-buttons -->
        	         <div class="progressbar"><div style="width:0%;"></div></div>
			         </fieldset>
			         </form>
			       </div>  <!-- /photo-form -->
           	     </div>  <!-- /photo-panel -->
           	     
           	     <div id="photo-panel">
           	       <div class="thumb-wrap">
			         <img class="thumbnail" src="http://placehold.it/210x150" alt="">
			       </div>  <!-- /thumb-wrap -->
			       <div class="photo-form">
			         <form class="form-stacked">
			         <fieldset>
        	         <div class="clearfix">
			           <label for="caption">Photo caption</label>
			           <div class="input">
        	           <input type="text" class="span3" name="caption" />
        	           </div>
        	         </div><!-- /clearfix -->
        	         <div class="photo-buttons" >
        	           <button type="submit" class="btn small primary start">Start upload</button>
			           <button type="button" class="btn small danger delete">Remove photo</button>
        	         </div><!-- /photo-buttons -->
        	         <div class="progressbar"><div style="width:0%;"></div></div>
			         </fieldset>
			         </form>
			       </div>  <!-- /photo-form -->
           	     </div>  <!-- /photo-panel -->
           	     
           	     <div id="photo-panel">
           	       <div class="thumb-wrap">
			         <img class="thumbnail" src="http://placehold.it/210x150" alt="">
			       </div>  <!-- /thumb-wrap -->
			       <div class="photo-form">
			         <form class="form-stacked">
			         <fieldset>
        	         <div class="clearfix">
			           <label for="caption">Photo caption</label>
			           <div class="input">
        	           <input type="text" class="span3" name="caption" />
        	           </div>
        	         </div><!-- /clearfix -->
        	         <div class="photo-buttons" >
        	           <button type="submit" class="btn small primary start">Start upload</button>
			           <button type="button" class="btn small danger delete">Remove photo</button>
        	         </div><!-- /photo-buttons -->
        	         <div class="progressbar"><div style="width:0%;"></div></div>
			         </fieldset>
			         </form>
			       </div>  <!-- /photo-form -->
           	     </div>  <!-- /photo-panel -->
           	   </div>  <!-- /span16 -->
       </div>
     </div>
     
     <div id="feature-photo" class="tab-pane">
       <div class="row">
       <div id="information" class="span16">
         <h4>4. Choose a photo to feature.</h4>
       </div>
       
       <div id="feature-panel" class="span7">
		   <ul class="feature-previews">
		   <li>
		   <img class="thumbnail" src="http://placehold.it/330x230" alt="" width="400px">
		   </li>
		   <li>
		   <img class="thumbnail" src="http://placehold.it/330x230" alt="" width="400px">
		   </li>
		   <li>
		   <img class="thumbnail" src="http://placehold.it/330x230" alt="" width="400px">
		   </li>
		   </ul>
	     </div>  <!-- /feature-panel -->
	     
	     <div class="span8">
		   <img src="images/iphone4.png" alt="feature photo preview"  style="margin-left:135px;" />	    
	     </div>
       </div>
     </div>
     
     <div id="choose-template" class="tab-pane">
       <div class="row">
       <div id="information" class="span16">
         <h4>5. Choose a template.</h4>
       </div>
       
       <div id="template-picker">
         <ul class="unstyled" id="templates">
           <li class="active">
             <img src="images/black_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
           <li>
             <img src="images/blueandgray_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
           <li>
             <img src="images/grayandwhite_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
           <li>
             <img src="images/white_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
           <li>
             <img src="images/yellow_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
           <li>
             <img src="images/black_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
         </ul>
         
         <div class="pagination">
           <ul>
             <li class="prev disabled"><a href="#">&larr;</a></li>
             <li class="active"><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#">4</a></li>
             <li><a href="#">5</a></li>
             <li class="next"><a href="#">&rarr;</a></li>
           </ul>
         </div>
       </div>
       
       <div id="iphone" class="span5">
		   <img src="images/iphone4.png" alt="feature photo preview" />	    
	   </div>
       </div>
     </div>
     
     <div id="preview-publish" class="tab-pane">
       <div class="row">
       <div id="information" class="span16">
           <h4>6. Preview &amp; publish your website!</h4>
         </div>
         
       <div id="instructions" class="span7">
       	 <p>You're now ready to publish your mobile site. To the right is a preview of your site. Be sure to play around with it and double check your information.</p>
       	 <br />
       	   <form method="GET" action="mobile/publish">
             <input name="websiteName" type="hidden"/>
             <input id="publish" class="btn span7 success" type="submit" value="Publish"/>
           </form>
       	 </div>
       	 
         <div class="span8">
           <div id="emulator">
             <iframe id="emulator_view" src=""></iframe>
           </div>
         </div>
         <img src="" id="qr_code"></img>
       </div>
     </div>
     </div>  <!-- /pill-content -->
 </div> <!-- /container -->
 
<footer>
    <div class="container">
      <div class="row">
      	<div class="span6">
      	<h4>Site Map</h4>
      	<ul id="sitemap-1">
	  	    <li><a href="#">Home</a></li>
	  	    <li><a href="#">About</a></li>
	  	    <li><a href="#">Sellers</a></li>
	  	    <li><a href="#">Buyers</a></li>
	  	    <li><a href="#">Tools & Resources</a></li>
	  	    <li><a href="#">Contact</a></li>
	  	</ul>
	  	<ul id="sitemap-2">
	  	    <li><a href="#">Network</a></li>
	  	    <li><a href="#">Real Estate</a></li>
	  	    <li><a href="#">Automotive</a></li>
	  	    <li><a href="#">Aviation</a></li>
	  	    <li><a href="#">Marine</a></li>
	  	    <li><a href="#">Support</a></li>
	  	</ul>
      	</div>
      	
      	<div class="span5">
      	<h4>Newsletter</h4>
      	<p>Get our newsletter.</p>
      	<form action="">
      		<div class="clearfix"><input class="span4" id="" name="" type="text" placeholder="Email Address" /></div>
      	</form>
      	</div>
      	
      	<div class="span5">
      	<h4>We're Social</h4>
      	<p>Social media component.</p>
      	</div>
      </div>
    </div>
</footer>

 <!-- gallery-loader is the loading animation container -->
 <div id="gallery-loader"></div>
 <!-- gallery-modal is the modal dialog used for the image gallery -->
 <div id="gallery-modal" class="modal hide fade">
   <div class="modal-header">
     <a href="#" class="close">&times;</a>
     <h3 class="title"></h3>
   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
     <a class="btn primary next">Next</a>
     <a class="btn info prev">Previous</a>
     <a class="btn success download" target="_blank">Download</a>
   </div>
 </div>
 <script>
   var fileUploadErrors = {
   maxFileSize: 'File is too big',
   minFileSize: 'File is too small',
   acceptFileTypes: 'Filetype not allowed',
   maxNumberOfFiles: 'Max number of files exceeded',
   uploadedBytes: 'Uploaded bytes exceed file size',
   emptyResult: 'Empty file upload result'
   };
 </script>
 <script id="template-upload" type="text/html">
   {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
   <tr class="template-upload fade">
     <td class="preview"><span class="fade"></span></td>
     <td class="name">{%=file.name%}</td>
     <td class="size">{%=o.formatFileSize(file.size)%}</td>
     {% if (file.error) { %}
     <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
     {% } else if (o.files.valid && !i) { %}
     <td class="progress"><div class="progressbar"><div style="width:0%;"></div></div></td>
     <td class="start">{% if (!o.options.autoUpload) { %}<button class="btn primary">Start</button>{% } %}</td>
     {% } else { %}
     <td colspan="2"></td>
     {% } %}
     <td class="cancel">{% if (!i) { %}<button class="btn info">Cancel</button>{% } %}</td>
   </tr>
   {% } %}
 </script>
 <script id="template-download" type="text/html">
   {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
   <tr class="template-download fade">
     {% if (file.error) { %}
     <td></td>
     <td class="name">{%=file.name%}</td>
     <td class="size">{%=o.formatFileSize(file.size)%}</td>
     <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
     {% } else { %}
     <td class="preview">{% if (file.thumbnail_url) { %}
     <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery"><img src="{%=file.thumbnail_url%}"></a>
     {% } %}</td>
     <td class="name">
       <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}">{%=file.name%}</a>
     </td>
     <td class="size">{%=o.formatFileSize(file.size)%}</td>
     <td colspan="2"></td>
     {% } %}
     <td class="delete">
       <button class="btn danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">Delete</button>
       <input type="checkbox" name="delete" value="1">
       </td>
     </tr>
     {% } %}
   </script>

   <script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
   <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
   <!-- Bootstrap Modal and Image Gallery are not required, but included for the demo -->
   <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.min.js"></script>
   <script src="http://blueimp.github.com/Bootstrap-Image-Gallery/bootstrap-image-gallery.min.js"></script>
   <script src="js/jquery.iframe-transport.js"></script>
   <script src="js/jquery.fileupload.js"></script>
   <script src="js/jquery.fileupload-ui.js"></script>
   <script src="js/application.js"></script>
   <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE >= 8 -->
   <script src="js/jquery.xdr-transport.js"></script>
   <!-- postMessage Transport support can be added with the following plugin -->
   <!--script src="jquery.postmessage-transport.js"></script-->
 </body>
</html>
