<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Scan Show Sell! Mobile Website builder</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="css/jquery.fileupload-ui.css">
    <link href="css/template_create.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAVSqAzgPLn6hnw7NqrJxW-BRe7sDIkaei9_QOoSx4oTVMhOsiLxSciM_Lb80M38AQaVMw0okrfII5kQ"></script>
    <script type="text/javascript">
      google.load("jquery", "1.7.1");
      google.load("jqueryui", "1.8.16");
    </script>

    <script src="js/bootstrap-tabs.js"></script>
    <script src="js/bootstrap-alerts.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/index.js"></script>
   <script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
 </head>

 <body>
   <div class="topbar">
     <div class="fill">
       <div class="container">
       <ul class="nav">
         <li class="active"><a href="#">Home</a></li>
         <li><a href="#about">About</a></li>
         <li><a href="#contact">Contact</a></li>
       </ul>
       <ul class="secondary-nav">
         <li><a href="register">Register</a></li>
         <li><a href="login">Login</a></li>
         <li><a href="logout">Logout</a></li>
       </ul>
       </div>
     </div>
   </div>

   <div class="row">
   <div id="page-wrap" class="container">
	 <header>
	 <a href="http://www.scanshowsell.com"><img src="images/title_sm.png" alt="ScanShowSell.com" border="0" /></a>
	 <ul class="main-nav pull-right">
		 <li><a href="#benefits">Benefits</a></li>
		 <li><a href="#process">Process</a></li>
		 <li><a href="#buyers">Buyers</a></li>
		 <li><a href="#sellers">Sellers</a></li>
		 <li><a href="#about">About</a></li>
	 </ul>
	 </header>
	 
     <div class="row">
	 <div class="span16">
	 	<ul class="tabs">
	 		<li><a href="dashboard.html">Build</a></li>
	 		<li class="active"><a href="themes.html">Themes</a></li>
	 		<li><a href="stats.html">Stats</a></li>
	 		<li><a href="settings.html">Settings</a></li>
	 	</ul>
	 </div>
	 </div>
	 
     <div id="wizard-nav" class="row">
       <ul class="pills">
         <li class="active"><a href="#">Newest</a></li>
         <li><a href="#">Most Popular</a></li>
         <li><a href="#">Highest Rated</a></li>
       </ul>
     </div>
     
     <div class="row mwb-banner">
	   <p>Creating/Editing XYZ's text model mobile website</p>
	 </div>

       <!-- CHOOSE TEMPLATE -->
       <div id="choose-template" class="row">
       <div id="information" class="span16">
         <h4>5. Choose a template.</h4>
       </div>
       
       <div id="template-picker">
         <ul class="unstyled" id="templates">
           <li class="active">
             <img src="images/black_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
           <li>
             <img src="images/blueandgray_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
           <li>
             <img src="images/grayandwhite_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
           <li>
             <img src="images/white_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
           <li>
             <img src="images/yellow_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
           <li>
             <img src="images/black_sm.png"/>
             <a href="preview-and-publish.html" class="btn tab-button">Apply</a>
           </li>
         </ul>
         
         <div class="pagination">
           <ul>
             <li class="prev disabled"><a href="#">&larr;</a></li>
             <li class="active"><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#">4</a></li>
             <li><a href="#">5</a></li>
             <li class="next"><a href="#">&rarr;</a></li>
           </ul>
         </div>
       </div>
       
       <div id="iphone" class="span5">
		   <img src="images/iphone4.png" alt="feature photo preview" />	    
	   </div>
       </div>
       
       <nav class="form_btm">
	   <a href="feature-photo.html"><button class="btn default large">&larr;&nbsp;&nbsp;Back: Feature photo</button></a>
	   <a href="preview-publish.html"><button class="btn primary large pull-right">Next:&nbsp;&nbsp;Preview &amp; publish&nbsp;&nbsp;&rarr;</button></a>
	   </nav>
  </div> <!-- /container -->
</div>
 
<footer>
    <div class="container">
      <div class="row">
      	<div class="span6">
      	<h4>Site Map</h4>
      	<ul id="sitemap-1">
	  	    <li><a href="#">Home</a></li>
	  	    <li><a href="#">About</a></li>
	  	    <li><a href="#">Sellers</a></li>
	  	    <li><a href="#">Buyers</a></li>
	  	    <li><a href="#">Tools & Resources</a></li>
	  	    <li><a href="#">Contact</a></li>
	  	</ul>
	  	<ul id="sitemap-2">
	  	    <li><a href="#">Network</a></li>
	  	    <li><a href="#">Real Estate</a></li>
	  	    <li><a href="#">Automotive</a></li>
	  	    <li><a href="#">Aviation</a></li>
	  	    <li><a href="#">Marine</a></li>
	  	    <li><a href="#">Support</a></li>
	  	</ul>
      	</div>
      	
      	<div class="span5">
      	<h4>Newsletter</h4>
      	<p>Get our newsletter.</p>
      	<form action="">
      		<div class="clearfix"><input class="span4" id="" name="" type="text" placeholder="Email Address" /></div>
      	</form>
      	</div>
      	
      	<div class="span5">
      	<h4>We're Social</h4>
      	<p>Social media component.</p>
      	</div>
      </div>
    </div>
    </footer>

 <!-- gallery-loader is the loading animation container -->
 <div id="gallery-loader"></div>
 <!-- gallery-modal is the modal dialog used for the image gallery -->
 <div id="gallery-modal" class="modal hide fade">
   <div class="modal-header">
     <a href="#" class="close">&times;</a>
     <h3 class="title"></h3>
   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
     <a class="btn primary next">Next</a>
     <a class="btn info prev">Previous</a>
     <a class="btn success download" target="_blank">Download</a>
   </div>
 </div>
 <script>
   var fileUploadErrors = {
   maxFileSize: 'File is too big',
   minFileSize: 'File is too small',
   acceptFileTypes: 'Filetype not allowed',
   maxNumberOfFiles: 'Max number of files exceeded',
   uploadedBytes: 'Uploaded bytes exceed file size',
   emptyResult: 'Empty file upload result'
   };
 </script>
 <script id="template-upload" type="text/html">
   {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
   <tr class="template-upload fade">
     <td class="preview"><span class="fade"></span></td>
     <td class="name">{%=file.name%}</td>
     <td class="size">{%=o.formatFileSize(file.size)%}</td>
     {% if (file.error) { %}
     <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
     {% } else if (o.files.valid && !i) { %}
     <td class="progress"><div class="progressbar"><div style="width:0%;"></div></div></td>
     <td class="start">{% if (!o.options.autoUpload) { %}<button class="btn primary">Start</button>{% } %}</td>
     {% } else { %}
     <td colspan="2"></td>
     {% } %}
     <td class="cancel">{% if (!i) { %}<button class="btn info">Cancel</button>{% } %}</td>
   </tr>
   {% } %}
 </script>
 <script id="template-download" type="text/html">
   {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
   <tr class="template-download fade">
     {% if (file.error) { %}
     <td></td>
     <td class="name">{%=file.name%}</td>
     <td class="size">{%=o.formatFileSize(file.size)%}</td>
     <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
     {% } else { %}
     <td class="preview">{% if (file.thumbnail_url) { %}
     <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery"><img src="{%=file.thumbnail_url%}"></a>
     {% } %}</td>
     <td class="name">
       <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}">{%=file.name%}</a>
     </td>
     <td class="size">{%=o.formatFileSize(file.size)%}</td>
     <td colspan="2"></td>
     {% } %}
     <td class="delete">
       <button class="btn danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">Delete</button>
       <input type="checkbox" name="delete" value="1">
       </td>
     </tr>
     {% } %}
   </script>

   <script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
   <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
   <!-- Bootstrap Modal and Image Gallery are not required, but included for the demo -->
   <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.min.js"></script>
   <script src="http://blueimp.github.com/Bootstrap-Image-Gallery/bootstrap-image-gallery.min.js"></script>
   <script src="js/jquery.iframe-transport.js"></script>
   <script src="js/jquery.fileupload.js"></script>
   <script src="js/jquery.fileupload-ui.js"></script>
   <script src="js/application.js"></script>
   <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE >= 8 -->
   <script src="js/jquery.xdr-transport.js"></script>
   <!-- postMessage Transport support can be added with the following plugin -->
   <!--script src="jquery.postmessage-transport.js"></script-->
 </body>
</html>
