<footer>
  <div class="container">
    <div class="row">
      <div id="footer-sitemap" class="span6">
      	<h4>Site Map</h4>
      	<ul id="sitemap-1">
	 		<li><a href="#">Home</a></li>
	 		<li><a href="#">About</a></li>
	 		<li><a href="#">Sellers</a></li>
	 		<li><a href="#">Buyers</a></li>
	 		<li><a href="#">Tools & Resources</a></li>
	 		<li><a href="#">Contact</a></li>
		</ul><!-- /sitemap-1 -->
		<ul id="sitemap-2">
			<li><a href="#">Network</a></li>
			<li><a href="#">Real Estate</a></li>
			<li><a href="#">Automotive</a></li>
			<li><a href="#">Aviation</a></li>
			<li><a href="#">Marine</a></li>
			<li><a href="#">Support</a></li>
		</ul><!-- /sitemap-2 -->
      </div><!-- /footer-sitemap -->
      <div id="footer-newsletter" class="span5">
      	<h4>Newsletter</h4>
      	<p>Get our newsletter.</p>
      	<form action="">
      	  <div class="clearfix"><input class="span4" id="" name="" type="text" placeholder="Email Address" /></div>
      	</form>
      </div><!-- /span5 -->
      <div id="footer-social" class="span5">
      	<h4>We're Social</h4>
      	<p>Social media component.</p>
      </div><!-- /footer-social -->
    </div><!-- /row -->
  </div><!-- /container -->
</footer>
