<!-- TEMPLATE PICKER -->
<div class="row">
  <div id="template-picker">
    <h4>Choose a Theme</h4>
    <!-- TEMPLATE PANEL -->
    <ul id="templateSlider">
      <li>
        <ul class="block-grid five-up" id="templates">
          <li class="active">
            <img src="../images/black_sm.png"/>
            <div class="btnContainer">
              <a href="../images/black.png" title="Black" rel="gallery" class="btn default">Preview</a>
              <a href="preview-and-publish.html" class="btn success">Apply</a>
            </div>
          </li>
          <li>
            <img src="../images/blueandgray_sm.png"/>
            <div class="btnContainer">
              <a href="#" class="btn default">Preview</a>
              <a href="preview-and-publish.html" class="btn success">Apply</a>
            </div>
          </li>
          <li>
            <img src="../images/grayandwhite_sm.png"/>
            <div class="btnContainer">
              <a href="#" class="btn default">Preview</a>
              <a href="preview-and-publish.html" class="btn success">Apply</a>
            </div>
          </li>
          <li>
            <img src="../images/white_sm.png"/>
            <div class="btnContainer">
              <a href="#" class="btn default">Preview</a>
              <a href="preview-and-publish.html" class="btn success">Apply</a>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="block-grid five-up" id="templates">
          <li class="active">
            <img src="../images/black_sm.png"/>
            <div class="btnContainer">
              <div class="btnContainer">
                <a href="#" class="btn default">Preview</a>
                <a href="preview-and-publish.html" class="btn success">Apply</a>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/blueandgray_sm.png"/>
            <div class="btnContainer">
              <div class="btnContainer">
                <a href="#" class="btn default">Preview</a>
                <a href="preview-and-publish.html" class="btn success">Apply</a>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/grayandwhite_sm.png"/>
            <div class="btnContainer">
              <div class="btnContainer">
                <a href="#" class="btn default">Preview</a>
                <a href="preview-and-publish.html" class="btn success">Apply</a>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/white_sm.png"/>
            <div class="btnContainer">
              <a href="#" class="btn default">Preview</a>
              <a href="preview-and-publish.html" class="btn success">Apply</a>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <ul class="block-grid five-up" id="templates">
          <li class="active">
            <img src="../images/black_sm.png"/>
            <div class="btnContainer">
              <a href="#" class="btn default">Preview</a>
              <a href="preview-and-publish.html" class="btn success">Apply</a>
            </div>
          </li>
          <li>
            <img src="../images/blueandgray_sm.png"/>
            <div class="btnContainer">
              <a href="#" class="btn default">Preview</a>
              <a href="preview-and-publish.html" class="btn success">Apply</a>
            </div>
          </li>
          <li>
            <img src="../images/grayandwhite_sm.png"/>
            <div class="btnContainer">
              <a href="#" class="btn default">Preview</a>
              <a href="preview-and-publish.html" class="btn success">Apply</a>
            </div>
          </li>
          <li>
            <img src="../images/white_sm.png"/>
            <div class="btnContainer">
              <a href="#" class="btn default">Preview</a>
              <a href="preview-and-publish.html" class="btn success">Apply</a>
            </div>
          </li>
        </ul>  <!-- /templates -->
      </li>
    </ul>  <!-- /slider1 -->
    <a href="#" id="go-prev" class="pull-left"><button class="btn primary mini">&nbsp;&larr;&nbsp;</button></a>
    <a href="#" id="go-next" class="pull-right"><button class="btn primary mini">&nbsp;&rarr;&nbsp;</button></a>
  </div>  <!--/template-picker -->
</div> <!-- //.row -->
