<div id="dialog" title="Manage your mobile website.">
  <p>Great! You've just created your first mobile website. You can edit the various aspects of your site through the Site Manager. We've prepared a short introduction to familiarize you with the features available. The tour is entirely optional, but we highly recommend taking the walk-through. It'll only take five minutes. Promise.</p>
  <div id="btn-group-modal">
    <p><a href="#"><button class="btn default span3" name="Go to Manager">Go to Manager</button></a></p>
    <p><a href="#"><button class="btn primary span3" name="Take the Tour">Take the Tour&nbsp;&nbsp;&nbsp;&rarr;</button></a></p>
  </div>
</div>

<div class="row">
  <div id="page-wrap" class="container">  <!--  Page Wrap  -->
    <header>
      <a href="http://www.scanshowsell.com"><img src="../images/title_sm.png" alt="ScanShowSell.com" border="0" /></a>
      <ul class="main-nav pull-right">
   	<li><a href="#benefits">Benefits</a></li>
   	<li><a href="#process">Process</a></li>
   	<li><a href="#buyers">Buyers</a></li>
   	<li><a href="#sellers">Sellers</a></li>
   	<li><a href="#about">About</a></li>
      </ul>
    </header>
    
    <div id="wizard-nav" class="row">
      <ul class="pills">
        <li><a href="dashboard.html">Dashboard</a></li>
        <li class="active"><a href="create.html">Create</a></li>
        <li><a href="profile.html">Profile</a></li>
        <li><a href="manage-photos.html">Photos</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="service-areas.html">Service Areas</a></li>
        <li><a href="special-offers.html">Specials</a></li>
        <li><a href="testimonials.html">Testimonials</a></li>
        <li><a href="accred.html">Accreditations &amp; Licensing</a></li>
      </ul>
    </div>
    
    <div class="row mwb-banner">
      <p>Welcome to the Mobile Website Builder!</p>
    </div>
    
    <div id="start-website" class="row">
      <div id="sidebar" class="span5">
        <h4>Create a new website!</h4>
        <p>Create a new website using our mobile website builder. First, you need to pick a name for your website. Choose something that is short and easy to remember.</p>
      </div>
      
      <div id="create-website-block" class="span11">
	<form>
	  <h4>Choose a name</h4>
	  <label for="websiteName">Website name</label>
	  <div class="input">
	    <input type="text" id="websiteName" name="websiteName" required/>
	  </div>
	  <br />
	  <label for="name-preview" style="width:150px;">Name Preview</label>
	  <p class="name-preview">http://www.scanshowsell.com/m/yourwebsitename</p>
	  <br />
	  <p><a id="new-btn" class="btn large success" href="profile.html">Create new &raquo;</a></p>
	</form>
      </div>
      <div class="alert-message error hide" id="nameAlert">
        <a class="close" href="#">×</a>
        <strong>Website name</strong>
        <p>Please give your website a name!</p>
      </div>
      
    </div> <!-- /container -->
  </div>  <!-- /row -->
