<div id="manage" class="span16">
  <ul class="thumbnails">
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="profile.html" class="panel-profile hash"><img src="../images/icn-page-profile.png" alt="Add Page: Profile" /></a>
    	<div id="panel-info">
      	  <a href="profile.html" class="hash"><h4>Company Profile</h4></a>
      	  <p>Manage your company's profile and contact info.</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="profile.html" class="panel-edit-page hash">Edit</a>&nbsp;&nbsp;&nbsp;<a class="panel-remove-page">Remove&nbsp;&times;</a>
      </div><!-- /panel-toolbar -->
    </li><!-- /panel-wrap -->
    <li id="panel-wrap" class="span5 disabled">
      <div id="panel-block">
    	<a href="manage-photos.html" class="panel-photos hash"><img src="../images/icn-page-photos.png" alt="Add Page: Photos" /></a>
    	<div id="panel-info">
    	  <a href="manage-photos.html" class="hash"><h4>Photos</h4></a>
    	  <p>Add and manage photos of your work.</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="manage-photos.html" class="panel-add-page hash">Add Page</a>
      </div>
    </li>
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="services.html" class="panel-services hash"><img src="../images/icn-page-services.png" alt="Add Page: Services/Products" /></a>
    	<div class="panel-info">
      	  <a href="services.html" class="hash"><h4>Services/Products</h4></a>
      	  <p>Add &amp; manage services and/or products you offer.</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="services.html" class="panel-edit-page hash">Edit</a>&nbsp;&nbsp;&nbsp;<a class="panel-remove-page">Remove&nbsp;&times;</a>
      </div><!-- /panel-toolbar -->
    </li><!-- /panel-wrap -->
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="service-areas.html" class="panel-service-areas hash"><img src="../images/icn-page-area.png" alt="Add Page: Service Area" /></a>
    	<div class="panel-info">
    	  <a href="service-areas.html" class="hash"><h4>Service Area</h4></a>
    	  <p>This is where you work.</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="service-areas.html" class="panel-add-page hash">Add Page</a>
      </div>
    </li>
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="special-offers.html" class="panel-special-offers hash"><img src="../images/icn-page-specials.png" alt="Add Page: Special Offers" /></a>
    	<div class="panel-info">
      	  <a href="special-offers.html" class="hash"><h4>Special Offers</h4></a>
      	  <p>Create discounts and specials for your customers.</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="special-offers.html" class="panel-add-page hash">Add Page</a>
      </div>
    </li>
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="testimonials.html" class="panel-feedback hash"><img src="../images/icn-page-testimonials.png" alt="Add Page: Customer Testimonials" /></a>
    	<div class="panel-info">
      	  <a href="testimonials.html" class="hash"><h4>Testimonials</h4></a>
      	  <p>You can display praise from your customers on this page.</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="testimonials.html" class="panel-add-page">Add Page</a>
      </div>
    </li>
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="credentials.html" class="panel-credentials hash"><img src="../images/icn-page-credentials.png" alt="Add Page: Credentials" /></a>
    	<div class="panel-info">
      	  <a href="credentials.html" class="hash"><h4>Credentials</h4></a>
      	  <p>Show your customers that you're a licensed professional.</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="credentials.html" class="panel-add-page hash">Add Page</a>
      </div>
    </li>
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="request-service.html" class="panel-optional hash"><img src="../images/icn-page-req-service.png" alt="Add Page: Request Service" /></a>
    	<div class="panel-info">
      	  <a href="request-service.html" class="hash"><h4>Request Service</h4></a>
      	  <p>Give your customers a ‘Tap to request service call' button!</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="request-service.html" class="panel-edit-page hash">Edit</a>&nbsp;&nbsp;&nbsp;<a class="panel-remove-page">Remove&nbsp;&times;</a>
      </div>
    </li>
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="request-estimate.html" class="panel-optional"><img src="../images/icn-page-req-estimate.png" alt="Add Page: Request Estimate" /></a>
    	<div class="panel-info">
      	  <a href="request-estimate.html" class="hash"><h4>Request Estimate</h4></a>
      	  <p>Give your customers a ‘Tap to request estimate' button!</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="request-estimate.html" class="panel-edit-page hash">Edit</a>&nbsp;&nbsp;&nbsp;<a class="panel-remove-page">Remove&nbsp;&times;</a>
      </div>
    </li>
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="request-consultation.html" class="panel-optional hash"><img src="../images/icn-page-req-consult.png" alt="Add Page: Request Consultation" /></a>
    	<div class="panel-info">
      	  <a href="request-consultation.html" class="hash"><h4>Request Consultation</h4></a>
      	  <p>Give your customers a ‘Tap to request consultation' button!</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="request-consultation.html" class="panel-add-page hash">Add Page</a>
      </div>
    </li>
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="submit-survey.html" class="panel-optional hash"><img src="../images/icn-page-survey.png" alt="Add Page: Submit Survey" /></a>
    	<div class="panel-info">
      	  <a href="submit-survey.html" class="hash"><h4>Submit Survey</h4></a>
      	  <p>Allow a customer to submit a short survey.</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="submit-survey.html" class="panel-edit-page hash">Edit</a>&nbsp;&nbsp;&nbsp;<a class="panel-remove-page">Remove&nbsp;&times;</a>
      </div>
    </li>
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="submit-testimonial.html" class="panel-optional hash"><img src="../images/icn-page-sub-test.png" alt="Add Page: Submit Testimonial" /></a>
    	<div class="panel-info">
      	  <a href="submit-testimonial.html" class="hash"><h4>Submit Testimonial</h4></a>
      	  <p>Allow a customer to submit a review of your service/product.</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
  	<a href="submit-testimonial.html" class="panel-edit-page hash">Edit</a>&nbsp;&nbsp;&nbsp;<a class="panel-remove-page">Remove&nbsp;&times;</a>
      </div>
    </li>
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="faqs-page.html" class="panel-optional hash"><img src="../images/icn-page-faq.png" alt="Add Page: FAQs" /></a>
    	<div class="panel-info">
      	  <a href="faqs-page.html" class="hash"><h4>FAQs</h4></a>
      	  <p>Allow a customer to submit a review of your service/product.</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
    	<a href="pricing.html" class="panel-upgrade hash">Upgrade your account to add this page.</a>
      </div>
    </li>
    <li id="panel-wrap" class="span5">
      <div id="panel-block">
    	<a href="tips.html" class="panel-optional hash"><img src="../images/icn-page-tips.png" alt="Add Page: Tips & Techniques" /></a>
    	<div class="panel-info">
      	  <a href="tips.html" class="hash"><h4>Tips &amp; Techniques</h4></a>
      	  <p>Allow a customer to submit a review of your service/product.</p>
    	</div><!-- /panel-info -->
      </div><!-- /panel-block -->
      <div id="panel-toolbar">
    	<a href="pricing.html" class="panel-upgrade hash">Upgrade your account to add this page.</a>
      </div>
    </li>
  </ul><!-- /thumbnails -->
</div><!-- /manage -->
