<!-- OPTIONAL PAGES -->
<div id="optional-pages" class="row">
  <div id="optional-pages-form" class="span11">
    <h4>Optional Pages</h4>
    <!-- OPTIONAL PAGES PANEL -->
    <div id="optional-pages-panel">
      <!-- =====  OPTIONAL PAGES FORM  ===== -->
      <form id="optionalPagesForm" name="Optional Pages" action="mobile/updateFields">
	<ul class="inputs-list">
	  <li>
	    <label>
              <input type="checkbox" name="reqService" value="reqService" />
              <span>Request Service</span>
            </label>
          </li>
          <li>
	    <label>
              <input type="checkbox" name="reqEstimate" value="reqEstimate" />
              <span>Request Estimate</span>
            </label>
          </li>
          <li>
	    <label>
              <input type="checkbox" name="subSurvey" value="subSurvey" />
              <span>Submit Survey</span>
            </label>
          </li>
          <li>
	    <label>
              <input type="checkbox" name="subTestimonial" value="subSurvey" />
              <span>Submit Testimonial</span>
            </label>
          </li>
        </ul>
      </form><!-- /optionalPagesForm -->
    </div><!-- /optional-pages-panel -->
  </div>  <!--/span11 -->
  
  <div id="sidebar" class="span5">
    <h5>Enhance your customer relationships.</h5>
    <p>These pages are completely optional, and will only show up if you select them. Don't worry, there's no setting up these pages, as they simply use the contact information you provided at the beginning of this wizard.</p>
    <div class="alert-message block-message warning">
      <p>During your free trial, you can create these optional pages. Once your subscription expires, these pages will no longer be available. Paid subscriptions are allowed more. <strong><a href="http://www.scanshowsell.com/pricing.html">Upgrade today!</a></strong></p>
    </div>
  </div>
  
  <nav class="form_btm">
    <div class="span7">
      <a href="credentials.html"><button class="btn default large">&larr;&nbsp;&nbsp;Back:&nbsp;Credentials</button></a>
    </div>
    <div class="span4">
      <a href="#"><button class="btn success large">Save</button></a>
    </div>
    <div class="span5">
      <a href="choose-template.html"><button class="btn primary large pull-right">Next:&nbsp;&nbsp;Choose a Template&nbsp;&nbsp;&rarr;</button></a>
    </div>
  </nav>
  
</div>
