<!-- OPTIONAL PAGES -->
  <div id="optional-pages-form" class="span10">
    <h4>Optional Pages</h4>
      <!-- =====  OPTIONAL PAGES FORM  ===== -->
      <form id="optionalPagesForm-0" name="Optional Pages" action="mobile/updateFields">
	<ul class="inputs-list-0">
	  <li>
	    <label>
              <input type="checkbox" name="reqService" value="reqService" />
              <span>Request Service</span>
            </label>
          </li>
          <li>
	    <label>
              <input type="checkbox" name="reqEstimate" value="reqEstimate" />
              <span>Request Estimate</span>
            </label>
          </li>
          <li>
	    <label>
              <input type="checkbox" name="subSurvey" value="subSurvey" />
              <span>Submit Survey</span>
            </label>
          </li>
          <li>
	    <label>
              <input type="checkbox" name="subTestimonial" value="subSurvey" />
              <span>Submit Testimonial</span>
            </label>
          </li>
        </ul>
      </form><!-- /optionalPagesForm -->
  </div>  <!--/span11 -->
  
  <div id="sidebar" class="span5">
    <h5>Enhance your customer relationships.</h5>
    <p>These pages are completely optional, and will only show up if you select them. Don't worry, there's no setting up these pages, as they simply use the contact information you provided at the beginning of this wizard.</p>
    <div id="btn-group">
      <p class="btn-options"><a href="#"><button class="btn success span5">Save</button></a></p>
      <p class="btn-options"><a href="manage.html"><button class="btn default span5">&larr;&nbsp;&nbsp;Back to Manager</button></a></p>
    </div><!-- /btn-group -->
  </div>
