<!-- OPTIONAL PAGES -->
<div id="request-service" class="span16">
<div class="row">
  <div id="request-service-form" class="span10">
  	<div id="request-service-panel">
  		<img class="illustration" src="../images/iphone-req-service.png" alt="iPhone illustration: Request Service" />
  		<form id="requestServiceForm" class="form-stacked" method="POST">
  			<ul class="listRequestService">
  			<li>
  				<div class="clearfix">
  					<label id="optionsRadio">Would you like to place a "Request Service" button on your mobile site's home page?</label>
  					<div class="input">
  						<ul class="inpust-list">
  						<li>
  						<label><input type="radio" checked name="optionsRadios" value="yes" /><span>Yes</span></label>
  						</li>
  						<li>
  						<label><input type="radio" name="optionsRadios" value="no" /><span>No</span></label>
  						</li>
  						</ul>
  					</div><!-- /input -->
  				</div><!-- /clearfix -->
  			</li>
  			</ul>
  		</form>
  	</div><!-- /request-service-panel -->
  </div>  <!--/span10 -->
  
  <div id="sidebar" class="span5">
  	<img class="pull-left" src="../images/icn-page-req-service.png" alt="Add Button: Request Service" />
    <h5>Request Service</h5>
    <p>This places a 'Request Service' button on your website's home page. Use this feature to give your potential and current customers an easy way to request your services.</p>
    <div id="btn-group">
    	<p class="btn-options"><a href="#" class="btn success span5">Save</a></p>
    	<p class="btn-options"><a href="manage.html" class="btn default span5">&larr;&nbsp;&nbsp;Back to Manager</a></p>
    </div>
  </div>
</div><!-- /row -->
</div><!-- /optional-pages span16 -->
