
<!-- SERVICE AREAS -->
<div id="service-areas" class="row">
  <div id="service-areas-form" class="span10">
    <!-- SERVICE AREAS PANEL -->
    <div id="service-areas-panel">
      <!-- =====  SERVICE FORM  ===== -->
      <form id="serviceAreasForm" class="form-stacked" method="POST">
	<ul class="listServiceArea">
          <li>
            <div class="clearfix">
              <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
              <div class="input">
                <input class="span6" id="input" name="Service Area" type="text" required />
              </div>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
              <div class="input">
                <input class="span6" id="input" name="Service Area" type="text" required />
              </div>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
              <div class="input">
                <input class="span6" id="input" name="Service Area" type="text" required />
              </div>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
              <div class="input">
                <input class="span6" id="input" name="Service Area" type="text" required />
              </div>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <label>County, City, Community or All of ­­­­­­­­­­­­­­­­_____</label>
              <div class="input">
                <input class="span6" id="input" name="Service Area" type="text" required />
              </div>
            </div>
          </li>
	  <br />
	  <button class="btn primary" type="button" onClick="addInput('dynamicInput');">Add Service Area</button>
      </form>
    </div><!-- /service-areas-panel -->
  </div>  <!--/span11 -->
  
  <div id="sidebar" class="span5">
    <img class="pull-left" src="images/icn-page-area.png" alt="Add Page: Service Area" />
    <h5>Where do you work?</h5>
    <p>Define a list of towns, cities, or counties that you service. Potential customers will be able to select from these options when contacting you.</p>
    <div class="alert-message block-message warning">
      <p>Add up to five service areas for your free trial. Paid subscriptions are allowed more. <strong><a href="http://www.scanshowsell.com/pricing.html">Upgrade today!</a></strong></p>
    </div>
    <div id="btn-group">
      <p class="btn-options"><a href="#"><button class="btn default span5">Save</button></a></p>
      <p class="btn-options"><a href="manage.html"><button class="btn primary span5">&larr;&nbsp;&nbsp;Back to Manager</button></a></p>
    </div>
  </div>
</div>

