<!-- OPTIONAL PAGES -->
  <div id="optional-pages-form" class="span10">
  		<form id="optionalPagesForm" class="form-stacked" method="POST">
  				<div class="clearfix">
  					<label id="optionsRadio">Would you like to place a "Submit Survey" button on your mobile site's home page?</label>
  					<div class="input">
  						<ul class="inputs-list">
  						<li>
  						<label><input type="radio" checked name="optionsRadios" value="yes" /><span>Yes</span></label>
  						</li>
  						<li>
  						<label><input type="radio" name="optionsRadios" value="no" /><span>No</span></label>
  						</li>
  						</ul>
  					</div><!-- /input -->
  				</div><!-- /clearfix -->
  		</form>
  </div>  <!--/span10 -->
  
  <div id="sidebar" class="span5">
  	<img class="pull-left" src="../images/icn-page-survey.png" alt="Add Page: Submit Survey" />
    <h5>Submit Survey</h5>
    <p>This places a 'Submit Survey' button on your website's home page. Use this feature to give your current customers an easy way to submit feedback.</p>
    <div id="btn-group">
    	<a href="#" class="btn success">Save</a>
    	<a href="manage.html" class="btn default">&larr;&nbsp;&nbsp;Back to Manager</a>
    </div>
  </div>
