<!-- TESTIMONIALS -->
<div id="section-testimonials" class="span16">
<div class="row">
  <div id="testimonials-form" class="span10">
    <!-- TESTIMONIALS PANEL -->
    <div id="testimonials-panel">
      
      <!-- =====  TESTIMONIALS FORM  ===== -->
      <form id="testimonialsForm" name="Testimonials" action="mobile/updateFields">
	<ul class="listFeedback">
	  <li>
	    <h5>Satisfied Customer 1</h5>
            <div class="clearfix">
              <label>Who said it?</label>
              <div class="input">
                <input class="span6" id="input" name="TName" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company" required />
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label>What did they say?</label>
              <div class="input">
                <textarea name="Description" value="" rows="5" class="span6">Short testimonial. Maximum 200 characters.</textarea>
              </div>
            </div>  <!-- /clearfix -->
          </li>
          <li>
	    <h5>Satisfied Customer 2</h5>
            <div class="clearfix">
              <label>Who said it?</label>
              <div class="input">
                <input class="span6" id="input" name="TName" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company" required />
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label>What did they say?</label>
              <div class="input">
                <textarea name="Description" value="" rows="5" class="span6">Short testimonial. Maximum 200 characters.</textarea>
              </div>
            </div>  <!-- /clearfix -->
          </li>
          <li>
	    <h5>Satisfied Customer 3</h5>
            <div class="clearfix">
              <label>Who said it?</label>
              <div class="input">
                <input class="span6" id="input" name="TName" type="text" placeholder="John Doe - Atlanta,GA - XYZ Company" required />
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label>What did they say?</label>
              <div class="input">
                <textarea name="Description" value="" rows="5" class="span6">Short testimonial. Maximum 200 characters.</textarea>
              </div>
            </div>  <!-- /clearfix -->
          </li>
        </ul>
      </form><!-- /testimonialsForm -->
    </div><!-- /testimonials-panel -->
  </div>  <!--/testimonials-form span10 -->
  
  <div id="sidebar" class="span5">
    <img class="pull-left" src="../images/icn-page-testimonials.png" alt="Add Page: Testimonials" />
    <h5>Spread the word!</h5>
    <p>Word of mouth is a powerful tool, especially when it comes to marketing. Put it to use for your business by adding testimonials to your website.</p>
    <div class="alert-message block-message warning">
      <p>Add up to three testimonials for your free trial. Paid subscriptions are allowed more. <strong><a href="http://www.scanshowsell.com/pricing.html">Upgrade today!</a></strong></p>
    </div>
    <div id="btn-group">
      <p class="btn-options"><a href="#"><button class="btn default span5">Save</button></a></p>
      <p class="btn-options"><a href="manage.html"><button class="btn primary span5">&larr;&nbsp;&nbsp;Back to Manager</button></a></p>
    </div>
  </div><!-- /sidebar -->
</div><!-- /row -->
</div><!-- /section-testimonials -->
