<!-- THEMES -->
<div class="row">
  <div id="template-picker">
    <!-- TEMPLATE PANEL -->
    <ul class="thumbnails" id="templates">
      <li class="span4 active">
        <img src="../images/black_sm.png"/>
        <div class="btnContainer">
          <a href="../images/black.png" title="Black" rel="gallery" class="btn default">Preview</a>
          <a href="preview-and-publish.html" class="btn success">Apply</a>
        </div>
      </li>
      <li class="span4">
        <img src="../images/blueandgray_sm.png"/>
        <div class="btnContainer">
          <a href="#" class="btn default">Preview</a>
          <a href="preview-and-publish.html" class="btn success">Apply</a>
        </div>
      </li>
      <li class="span4">
        <img src="../images/grayandwhite_sm.png"/>
        <div class="btnContainer">
          <a href="#" class="btn default">Preview</a>
          <a href="preview-and-publish.html" class="btn success">Apply</a>
        </div>
      </li>
      <li class="span4 active">
        <img src="../images/black_sm.png"/>
        <div class="btnContainer">
          <a href="../images/black.png" title="Black" rel="gallery" class="btn default">Preview</a>
          <a href="preview-and-publish.html" class="btn success">Apply</a>
        </div>
      </li>
      <li class="span4">
        <img src="../images/blueandgray_sm.png"/>
        <div class="btnContainer">
          <a href="#" class="btn default">Preview</a>
          <a href="preview-and-publish.html" class="btn success">Apply</a>
        </div>
      </li>
      <li class="span4">
        <img src="../images/grayandwhite_sm.png"/>
        <div class="btnContainer">
          <a href="#" class="btn default">Preview</a>
          <a href="preview-and-publish.html" class="btn success">Apply</a>
        </div>
      </li>
    </ul>
    <a href="#" id="go-prev" class="btn primary mini pull-left">&nbsp;&larr;&nbsp;Previous</a>
    <a href="#" id="go-next" class="btn primary mini pull-right">&nbsp;&rarr;&nbsp;Next</a>
  </div>  <!--/template-picker -->
</div>  <!-- /row -->
