<div id="wizard-nav" class="span16">
  <ul class="tabs" data-tabs="">
    <li class="active"><a href="#profile">Company Profile</a></li>
    <li><a href="#upload-photos">Upload Photos</a></li>
    <li><a href="#services">Services/Products</a></li>
    <li><a href="#service-area">Service Area</a></li>
    <li><a href="#optional-pages">Optional Pages</a></li>
    <li><a href="#choose-theme">Choose a Theme</a></li>
    <li><a href="#prevpub">Preview &amp; Publish</a></li>
  </ul>
</div>

<div id="wizard" class="tab-content">
  <div class="tab-pane active" id="profile">
    {{ processTemplate('profile') }}
    
    <div id="sidebar" class="span5">
      <h5>Wizard Specific Block</h5>
      <p>Something specific only to the wizard can go here. Or this area can be the exact same as the Manager sidebar.</p>
      <img src="http://placehold.it/280x350&text=iPhone+Preview" alt="iPhone Screen Preview" />
    </div>
  </div>  <!-- /tab-pane -->
  
  <div class="tab-pane" id="upload-photos">
    {{ processTemplate('manage-photos') }} 
  </div>

  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="services">
    {{ processTemplate('services') }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="service-area">
    {{ processTemplate('service-areas') }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="optional-pages">
    {{ processTemplate('optional-pages') }} 
  </div>  <!-- /tab-pane -->

  <div class="tab-pane" id="choose-theme">
    {{ processTemplate('choose-theme') }} 
  </div>  <!-- /tab-pane -->

<div class="tab-pane" id="prevpub">
  <div id="preview-publish">
    <h4>Preview &amp; Publish</h4>
    <div id="instructions" class="span5">
      <h5>Your website is ready to go!</h5>
      <p>You're now ready to publish your mobile site. To the right is a preview of your site. Be sure to play around with it and double check your information.</p>
      <br />
      <input id="publish" class="btn span5 success" type="submit" value="Publish &amp; Generate QR Code"/>
      <br />
      <img src="http://placehold.it/280&text=YOUR+QR+CODE+HERE" alt="QR code placeholder" />
    </div>
    
    <div id="emulator-wrap" class="span10 offset5">
      <div id="emulator">
        <iframe id="emulator-view" src=""></iframe>
      </div>
    </div>
  </div>  <!--/preview-publish -->
</div>  <!-- /tab-pane -->
</div>  <!-- /tab-content -->
