

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Page Styles
:: Lists
:: Typography 
:: Content Islands
:: Navigation
:: Top Bar
:: Miscallaneous Styles
*/

/*	--------------------------------------------------
	Page Styles
	-------------------------------------------------- */
	
	body {
			background-color:#f2f2f2;
			background-image:url('../images/header_bg.png');
			background-repeat:repeat-x;
			background-position: left top;
			}
	#page-wrap		{
			margin-top:72px;
			background: #fefefe;
			background: -moz-linear-gradient(top, #fefefe 0%, #fbfbfb 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#fbfbfb));
			background: -webkit-linear-gradient(top, #fefefe 0%,#fbfbfb 100%);
			background: -o-linear-gradient(top, #fefefe 0%,#fbfbfb 100%);
			background: -ms-linear-gradient(top, #fefefe 0%,#fbfbfb 100%);
			background: linear-gradient(top, #fefefe 0%,#fbfbfb 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#fbfbfb',GradientType=0 );
			/* border-top:4px solid #f05a22;*/
			box-shadow: 0px -1px 3px rgba(0,0,0,0.25);
			-moz-box-shadow: 0px -1px 3px rgba(0,0,0,0.25);
			}


	
/*	--------------------------------------------------
	Header
	-------------------------------------------------- */

	header			{ padding:25px 20px;}
	.mwb-banner		{ margin:0;padding:9px 20px 2px 20px;background-color:#c3c3c3;color:#636363 !important;}
	.main-nav		{ margin:0;padding-top:36px;list-style:none;zoom:1; }
	.main-nav li	{ float:left; }
	.main-nav li a	{ margin:0 10px;padding:10px;color:#737373;font-size:16px;font-weight:500;text-decoration:none;display:block; }
	.main-nav li a:last-child	{ margin-right:0 !important; }
	.main-nav li a:active	{ border-radius:10px;box-shadow:1px 1px 2px rgba(0,0,0,0.4);}
	.main-nav li a:hover	{ background:#f4f4f4;border-radius:4px;box-shadow:inset 1px 1px 3px rgba(0,0,0,0.5);color:#434343; }
	


/*	--------------------------------------------------
	Lists
	-------------------------------------------------- */
	
	#sitemap-1		{margin:0;padding:0;float:left;list-style:none;}
	#sitemap-2		{margin:0 0 0 40px;float:left;list-style:none;}
	
	.breadcrumb		{margin-top:12px;}

	


/*    --------------------------------------------------
    Typography
    -------------------------------------------------- */
    
    .name-preview	{padding:5px 0 0 0;color:#848484;font-style:italic;}
    .register		{font-size:1.5em !important;color:#696969 !important;}
    
    
    
/*  --------------------------------------------------
    Navigation 
    -------------------------------------------------- */ 
    
    .pills		{
			  margin:0;
			  padding:9px 20px;
			  background-color: #f5f5f5;
			  background-repeat: repeat-x;
			  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
			  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
			  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
			  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
			  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
			  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
			  background-image: linear-gradient(top, #ffffff, #f5f5f5);
			  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
			  border: 1px solid #ddd;
			  -webkit-border-radius: 3px;
			  -moz-border-radius: 3px;
			  border-radius: 3px;
			  -webkit-box-shadow: inset 0 1px 0 #ffffff;
			  -moz-box-shadow: inset 0 1px 0 #ffffff;
			  box-shadow: inset 0 1px 0 #ffffff;
			  }
    nav.form_btm	{padding:30px 20px 0 20px;background-color:#f9f9f9;border-top:1px solid #dedede;height:72px;position:relative;bottom:0;clear:both;}

    
    
/*  --------------------------------------------------
    Content Blocks
    -------------------------------------------------- */ 
    
    #start-website, #profile, #photo-upload, #services, #service-areas, #special-offers, #testimonials, #accreditation, #choose-template, #preview-and-publish				{background-color:#f3f3f3;}
    #instructions				{margin:18px 0;padding:20px;background-color:#e3e3e3;}
    #information				{margin-top:18px;margin-bottom:18px;}
    
    #create-website-block		{padding:18px 0 18px 19px;background-color:#fcfcfc;border-left:1px solid #d3d3d3;}
    
    /*  For the Manage Website intro page.
    #create-website-block		{margin:18px 0 18px 20px;padding:20px;background-color:#e3e3e3;border:1px solid #d3d3d3;width:420px;height:210px;float:left;}
    #manage-website-block		{margin:18px 0 18px 20px;padding:20px;background-color:#e3e3e3;border:1px solid #d3d3d3;width:420px;height:210px;float:left;}
    */
    
    /* -- Company Profile -- */
    #profile-form				{padding:18px 0 18px 19px;background-color:#fcfcfc;border-left:1px solid #d3d3d3;}
    #company-profile			{margin-top:18px;padding-top:18px;border-top:1px solid #d3d3d3;}
    #contact-information		{padding-top:18px;border-top:1px solid #d3d3d3;}
    #fieldsForm					{padding-top:18px;}
    #sidebar					{padding-top:18px;}
    
    /* -- Photo Uploader -- */
    #upload-wrap		{padding:18px 0 18px 19px;background-color:#fcfcfc;border-left:1px solid #d3d3d3;}
    #fileupload			{margin-top:18px;padding:18px 0;border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;}
    #photo-panel		{margin:18px 0;padding:10px;padding-top:15px;background-color:#e3e3e3;width:540px;display:block;position:relative;float:left;}
    .thumb-wrap			{width:220px;display:inline;float:left;}
    .photo-form			{margin-left:10px;width:310px;display:inline;float:left;}
    .photo-form > .form-stacked		{padding-left:0 !important;}
    .photo-buttons		{margin:18px 0;width:100%;display:block;position:relative;}
    
    /* -- Feature Photo -- */
    #feature-panel		{padding:10px 10px;background:#f3f3f3;border:1px solid #e3e3e3;}
    .feature-previews	{margin:0;padding:0;list-style:none;width:100%;display:block;position:relative;float:left;}
    .feature-previews li	{margin:10px 0;padding:0;display:block;float:left;}
    .feature-previews li:hover {
        border:#b3b3b3 solid 1px;
      }

    .feature-previews li {
        border:#f3f3f3 solid 1px;
      }

    .feature-previews li.active {
        border:#00AAFF solid 1px;
      }
    
    /* -- Services -- */
    #services-form					{padding:18px 0 18px 19px;background-color:#fcfcfc;border-left:1px solid #d3d3d3;}
    #service-panel					{margin-top:18px;border-top:1px solid #d3d3d3;}
    #serviceForm					{padding-top:18px;}
    #serviceForm ul					{margin:0;list-style:none;}
    
    /* -- Service Areas -- */
    #service-areas-form				{padding:18px 0 18px 19px;background-color:#fcfcfc;border-left:1px solid #d3d3d3;}
    #service-areas-panel			{border-top:1px solid #d3d3d3;}
    #serviceAreasForm				{padding-top:18px;}
    
    /* -- Special Offers -- */
    #special-offers-form			{margin-left:0;padding:18px 0 18px 20px;background-color:#fcfcfc;border-right:1px solid #d3d3d3;}
    #special-offers-panel			{border-top:1px solid #d3d3d3;}
    #specialOffersForm				{padding-top:18px;}
    
    /* -- Testimonials -- */
    #testimonials-form				{padding:18px 0 18px 19px;background-color:#fcfcfc;border-left:1px solid #d3d3d3;}
    #testimonials-panel				{border-top:1px solid #d3d3d3;}
    #testimonialsForm				{padding-top:18px;}
    
    /* -- Accreditations -- */
    #accreditation-form			{padding:18px 0 18px 19px;background-color:#fcfcfc;border-left:1px solid #d3d3d3;}
    #accreditation-panel			{border-top:1px solid #d3d3d3;}
    #accreditationForm				{padding-top:18px;}
    
    /* -- Template Picker -- */
    #template-picker	{margin-left:20px;width:620px;display:inline;float:left;}
    #templates  		{position:relative;float:left;}
    #templates li:hover {
      		  border:2px solid #c3c3c3;
              }
    #templates li 		{
      		  border:2px solid #e3e3e3;
      		  margin-bottom:20px;
      		  margin-left:20px;
      		  width:162px;
      		  height:263px;
      		  display:block;
      		  position:relative;
      		  float:left;
      		  overflow:hidden;
              } 		  
    #templates li.active {
      		  border:2px solid #00AAFF;
              }
              
    /* -- Preview & Publish -- */
    #emulator {
        margin-left:115px;
        display: inline-block;
        float:left;
        background-image:url('../images/iphone4.png');
        background-repeat:no-repeat;
        background-attachment:inherit;
        background-position:0px 0px; 
        width:300px;
        height:663px;
      }

      #emulator_view {
        position:relative;
        top: 100px;
        left:25px;
        width: 245px;
        height: 368px;
      }
    
    /* -- Footer -- */
    footer				{margin:0;padding:36px 0;background:#232323;}
    footer h4			{color:#f3f3f3;text-shadow:2px 2px 2px rgba(0,0,0,0.4);}
    footer p			{color:#e3e3e3;}




/*  --------------------------------------------------
    Vertical Tabs
    -------------------------------------------------- */ 
	
	#jq-tabs		{margin-top:54px;}
	.ui-tabs-vertical { width: 55em; }
	.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
	.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
	.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
	.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
	.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}




/*  --------------------------------------------------
    Top Bar
    -------------------------------------------------- */ 
    
    .topbar {
			  height: 40px;
			  position: absolute;
			  top: 0;
			  left: 0;
			  right: 0;
			  z-index: 10000;
			  overflow: visible;
			}
	.topbar a {
	  color: #bfbfbf;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
	.topbar h3 a:hover, .topbar .brand a:hover, .topbar ul .active > a {
	  background-color: #333;
	  background-color: rgba(255, 255, 255, 0.05);
	  color: #ffffff;
	  text-decoration: none;
	}
	.topbar h3 {
	  position: relative;
	}
	.topbar h3 a, .topbar .brand {
	  float: left;
	  display: block;
	  padding: 8px 20px 12px;
	  margin-left: -20px;
	  color: #ffffff;
	  font-size: 20px;
	  font-weight: 200;
	  line-height: 1;
	}
	.topbar p {
	  margin: 0;
	  line-height: 40px;
	}
	.topbar p a:hover {
	  background-color: transparent;
	  color: #ffffff;
	}
	.topbar form {
	  float: left;
	  margin: 5px 0 0 0;
	  position: relative;
	  filter: alpha(opacity=100);
	  -khtml-opacity: 1;
	  -moz-opacity: 1;
	  opacity: 1;
	}
	.topbar form.pull-right {
	  float: right;
	}
	.topbar input {
	  background-color: #444;
	  background-color: rgba(255, 255, 255, 0.3);
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-size: normal;
	  font-weight: 13px;
	  line-height: 1;
	  padding: 4px 9px;
	  color: #ffffff;
	  color: rgba(255, 255, 255, 0.75);
	  border: 1px solid #111;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
	  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
	  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
	  -webkit-transition: none;
	  -moz-transition: none;
	  -ms-transition: none;
	  -o-transition: none;
	  transition: none;
	}
	.topbar input:-moz-placeholder {
	  color: #e6e6e6;
	}
	.topbar input::-webkit-input-placeholder {
	  color: #e6e6e6;
	}
	.topbar input:hover {
	  background-color: #bfbfbf;
	  background-color: rgba(255, 255, 255, 0.5);
	  color: #ffffff;
	}
	.topbar input:focus, .topbar input.focused {
	  outline: 0;
	  background-color: #ffffff;
	  color: #404040;
	  text-shadow: 0 1px 0 #ffffff;
	  border: 0;
	  padding: 5px 10px;
	  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	}
	.topbar-inner, .topbar .fill {
	  background:rgba(0,16,35,0.5);
	  -webkit-box-shadow: inset 0 -1px 6px rgba(0, 0, 0, 0.2);
	  -moz-box-shadow: inset 0 -1px 6px rgba(0, 0, 0, 0.2);
	  box-shadow: inset 0 -1px 6px rgba(0, 0, 0, 0.2);
	}
	.topbar div > ul, .nav {
	  display: block;
	  float: left;
	  margin: 0 10px 0 0;
	  position: relative;
	  left: 0;
	}
	.topbar div > ul > li, .nav > li {
	  display: block;
	  float: left;
	}
	.topbar div > ul a, .nav a {
	  display: block;
	  float: none;
	  padding: 10px 10px 11px;
	  line-height: 19px;
	  text-decoration: none;
	}
	.topbar div > ul a:hover, .nav a:hover {
	  color: #ffffff;
	  text-decoration: none;
	}
	.topbar div > ul .active > a, .nav .active > a {
	  background-color: #222;
	  background-color: rgba(0, 0, 0, 0.5);
	}
	.topbar div > ul.secondary-nav, .nav.secondary-nav {
	  float: right;
	  margin-left: 10px;
	  margin-right: 0;
	}
	.topbar div > ul.secondary-nav .menu-dropdown,
	.nav.secondary-nav .menu-dropdown,
	.topbar div > ul.secondary-nav .dropdown-menu,
	.nav.secondary-nav .dropdown-menu {
	  right: 0;
	  border: 0;
	}
	.topbar div > ul a.menu:hover,
	.nav a.menu:hover,
	.topbar div > ul li.open .menu,
	.nav li.open .menu,
	.topbar div > ul .dropdown-toggle:hover,
	.nav .dropdown-toggle:hover,
	.topbar div > ul .dropdown.open .dropdown-toggle,
	.nav .dropdown.open .dropdown-toggle {
	  background: #444;
	  background: rgba(255, 255, 255, 0.05);
	}
	.topbar div > ul .menu-dropdown,
	.nav .menu-dropdown,
	.topbar div > ul .dropdown-menu,
	.nav .dropdown-menu {
	  background-color: #333;
	}
	.topbar div > ul .menu-dropdown a.menu,
	.nav .menu-dropdown a.menu,
	.topbar div > ul .dropdown-menu a.menu,
	.nav .dropdown-menu a.menu,
	.topbar div > ul .menu-dropdown .dropdown-toggle,
	.nav .menu-dropdown .dropdown-toggle,
	.topbar div > ul .dropdown-menu .dropdown-toggle,
	.nav .dropdown-menu .dropdown-toggle {
	  color: #ffffff;
	}
	.topbar div > ul .menu-dropdown a.menu.open,
	.nav .menu-dropdown a.menu.open,
	.topbar div > ul .dropdown-menu a.menu.open,
	.nav .dropdown-menu a.menu.open,
	.topbar div > ul .menu-dropdown .dropdown-toggle.open,
	.nav .menu-dropdown .dropdown-toggle.open,
	.topbar div > ul .dropdown-menu .dropdown-toggle.open,
	.nav .dropdown-menu .dropdown-toggle.open {
	  background: #444;
	  background: rgba(255, 255, 255, 0.05);
	}
	.topbar div > ul .menu-dropdown li a,
	.nav .menu-dropdown li a,
	.topbar div > ul .dropdown-menu li a,
	.nav .dropdown-menu li a {
	  color: #999;
	  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	}
	.topbar div > ul .menu-dropdown li a:hover,
	.nav .menu-dropdown li a:hover,
	.topbar div > ul .dropdown-menu li a:hover,
	.nav .dropdown-menu li a:hover {
	  background-color: #191919;
	  background-repeat: repeat-x;
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#292929), to(#191919));
	  background-image: -moz-linear-gradient(top, #292929, #191919);
	  background-image: -ms-linear-gradient(top, #292929, #191919);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292929), color-stop(100%, #191919));
	  background-image: -webkit-linear-gradient(top, #292929, #191919);
	  background-image: -o-linear-gradient(top, #292929, #191919);
	  background-image: linear-gradient(top, #292929, #191919);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#191919', GradientType=0);
	  color: #ffffff;
	}
	.topbar div > ul .menu-dropdown .active a,
	.nav .menu-dropdown .active a,
	.topbar div > ul .dropdown-menu .active a,
	.nav .dropdown-menu .active a {
	  color: #ffffff;
	}
	.topbar div > ul .menu-dropdown .divider,
	.nav .menu-dropdown .divider,
	.topbar div > ul .dropdown-menu .divider,
	.nav .dropdown-menu .divider {
	  background-color: #222;
	  border-color: #444;
	}
	.topbar ul .menu-dropdown li a, .topbar ul .dropdown-menu li a {
	  padding: 4px 15px;
	}
	li.menu, .dropdown {
	  position: relative;
	}
	a.menu:after, .dropdown-toggle:after {
	  width: 0;
	  height: 0;
	  display: inline-block;
	  content: "&darr;";
	  text-indent: -99999px;
	  vertical-align: top;
	  margin-top: 8px;
	  margin-left: 4px;
	  border-left: 4px solid transparent;
	  border-right: 4px solid transparent;
	  border-top: 4px solid #ffffff;
	  filter: alpha(opacity=50);
	  -khtml-opacity: 0.5;
	  -moz-opacity: 0.5;
	  opacity: 0.5;
	}
	.menu-dropdown, .dropdown-menu {
	  background-color: #ffffff;
	  float: left;
	  display: none;
	  position: absolute;
	  top: 40px;
	  z-index: 900;
	  min-width: 160px;
	  max-width: 220px;
	  _width: 160px;
	  margin-left: 0;
	  margin-right: 0;
	  padding: 6px 0;
	  zoom: 1;
	  border-color: #999;
	  border-color: rgba(0, 0, 0, 0.2);
	  border-style: solid;
	  border-width: 0 1px 1px;
	  -webkit-border-radius: 0 0 6px 6px;
	  -moz-border-radius: 0 0 6px 6px;
	  border-radius: 0 0 6px 6px;
	  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	  -webkit-background-clip: padding-box;
	  -moz-background-clip: padding-box;
	  background-clip: padding-box;
	}
	.menu-dropdown li, .dropdown-menu li {
	  float: none;
	  display: block;
	  background-color: none;
	}
	.menu-dropdown .divider, .dropdown-menu .divider {
	  height: 1px;
	  margin: 5px 0;
	  overflow: hidden;
	  background-color: #eee;
	  border-bottom: 1px solid #ffffff;
	}
	.topbar .dropdown-menu a, .dropdown-menu a {
	  display: block;
	  padding: 4px 15px;
	  clear: both;
	  font-weight: normal;
	  line-height: 18px;
	  color: #808080;
	  text-shadow: 0 1px 0 #ffffff;
	}
	.topbar .dropdown-menu a:hover, .dropdown-menu a:hover {
	  background-color: #dddddd;
	  background-repeat: repeat-x;
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
	  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
	  background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
	  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
	  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
	  background-image: linear-gradient(top, #eeeeee, #dddddd);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
	  color: #404040;
	  text-decoration: none;
	  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
	  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
	  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
	}
	.open .menu,
	.dropdown.open .menu,
	.open .dropdown-toggle,
	.dropdown.open .dropdown-toggle {
	  color: #ffffff;
	  background: #ccc;
	  background: rgba(0, 0, 0, 0.3);
	}
	.open .menu-dropdown,
	.dropdown.open .menu-dropdown,
	.open .dropdown-menu,
	.dropdown.open .dropdown-menu {
	  display: block;
	}


    
    
/*  --------------------------------------------------
    Miscellaneous
    -------------------------------------------------- */ 
    
    #content			{margin-top:54px;margin-left:45px !important;}
    .inline				{margin-left:20px;display:inline;}
    
    #panel-wrap			{margin:0 auto;padding:20px;width:980px;background:rgba(0,16,35,0.5);-webkit-box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);-moz-box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);-o-box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);}
    
