

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Page Styles
:: Lists
:: Typography 
:: Content Islands
:: Navigation
:: Top Bar
:: Miscallaneous Styles
*/

/*	--------------------------------------------------
	Page Styles
	-------------------------------------------------- */
	
	body {
			background: rgb(1,50,135);
			background: -moz-linear-gradient(top, rgba(1,50,135,1) 0%, rgba(1,30,63,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,50,135,1)), color-stop(100%,rgba(1,30,63,1)));
			background: -webkit-linear-gradient(top, rgba(1,50,135,1) 0%,rgba(1,30,63,1) 100%);
			background: -o-linear-gradient(top, rgba(1,50,135,1) 0%,rgba(1,30,63,1) 100%);
			background: -ms-linear-gradient(top, rgba(1,50,135,1) 0%,rgba(1,30,63,1) 100%);
			background: linear-gradient(top, rgba(1,50,135,1) 0%,rgba(1,30,63,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013287', endColorstr='#011e3f',GradientType=0 );
			}
	#panel-wrap	{
			margin:72px auto;
			padding:10px;
			width:900px;
			background:rgba(0,16,35,0.5);
			-webkit-box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);
			-moz-box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);
			-o-box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);
			box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);
			border-radius:2px;
			}
	#panel			{
			padding:20px;
			background:#fcfcfc;
			-webkit-box-shadow:0px 3px 6px rgba(0,0,0,0.5);
			-moz-box-shadow:0px 3px 6px rgba(0,0,0,0.5);
			-o-box-shadow:0px 3px 6px rgba(0,0,0,0.5);
			box-shadow:0px 3px 6px rgba(0,0,0,0.5);
			border-radius:2px;
			}
	#page-wrap		{
			margin:0;
			padding:20px;
			width:820px;
			float:left;
			}


	
/*	--------------------------------------------------
	Header
	-------------------------------------------------- */

	header			{ padding:25px 20px;}
	header h1		{padding-top:24px;}	
	/* hgroup			{padding-top:18px;border-top:1px solid #d3d3d3;} */
	


/*	--------------------------------------------------
	Forms
	-------------------------------------------------- */
	
	#registerForm			{margin-top:18px;padding-top:36px;border-top:1px solid #d3d3d3;}
	#formList				{list-style: none;margin:0;padding:0;}
	#formList li			{margin:0 0 18px 0;padding:0;}
	#formList li div		{margin:0;padding:10px;border-radius:4px;background:#f3f3f3;}
	#formList li input		{padding:10px;font-size:1.25em;}
	#formList li label		{padding:22px 0pt 0pt 20px;width:200px;font-size:1.25em !important;color:#696969 !important;}
    .hint-inline			{padding:10px 0 0 30px;color:#848484;max-width:700px;}
    .help-inline			{font-size:1.25em;color:#737373;}
    .spamLabel				{width:400px;}
    .tosAgree				{margin-top:10px;}
    
    
    
    
/*  --------------------------------------------------
    Content Blocks
    -------------------------------------------------- */ 
    
    
    /* -- Footer -- */
    footer				{margin:0;padding:36px 0;background:#232323;}
    footer h4			{color:#f3f3f3;text-shadow:2px 2px 2px rgba(0,0,0,0.4);}
    footer p			{color:#e3e3e3;}




/*  --------------------------------------------------
    Miscellaneous
    -------------------------------------------------- */ 
    
    #content			{margin-top:54px;margin-left:45px !important;}
    .inline				{margin-left:20px;display:inline;}
    
    
