<head>
  <meta charset="utf-8">
  <title>ScanShowSell - Manage Your Mobile Site</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

  <!-- Le styles -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="css/jquery.fileupload-ui.css">
  <link href="css/template_create.css" rel="stylesheet">
  <link rel="stylesheet" href="css/simple/jquery-ui-1.8.18.custom.css">


  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAVSqAzgPLn6hnw7NqrJxW-BRe7sDIkaei9_QOoSx4oTVMhOsiLxSciM_Lb80M38AQaVMw0okrfII5kQ"></script>
  <script type="text/javascript">
    google.load("jquery", "1.7.1");
    google.load("jqueryui", "1.8.16");
  </script>

  <script src="js/bootstrap-tabs.js"></script>
  <script src="js/bootstrap-alerts.js"></script>
  <script src="js/bootstrap-dropdown.js"></script>
  <script src="js/bootstrap-twipsy.js"></script>
  <script src="js/jquery.form.js"></script>
  <script src="js/index.js"></script>
  <script type="text/javascript">
    $(function () {
    $("a[rel=twipsy]").twipsy({
    live: true,
    offset: 10,
    delayIn: 800,
    placement: 'right',
    trigger: 'focus'
    })
    })
  </script>
  
  <script type="text/javascript">
    $(function() {
    $( "#dialog" ).dialog({ 
    
    autoOpen: true,
    modal: true,
    draggable: false,
    resizable: false,
    width: 500,
    height: 300,
    title: 'Manage your mobile website'
    });
    });
  </script>
</head>
