<div class="topbar">  <!--  Topbar  -->
  <div class="fill">
    <div class="container">
      <ul class="nav">
       	<li class="dropdown" data-dropdown="dropdown"><a href="#" id="requests" class="dropdown-toggle">Requests</a>
       	  <ul class="dropdown-menu">
       	    <li><a href="#"><b>Testimonial Added</b> by Jenny G.</a></li>
       	    <li><a href="#"><b>Service Request</b> from Michael A.</a></li>
       	    <li><a href="#"><b>Service Request</b> from Dee G.</a></li>
       	    <li><a href="#"><b>Estimate Request</b> from Samuel G.</a></li>
       	    <li class="divider"></li>
       	    <li><a href="inbox.html" class="btnInbox">Go to Inbox&nbsp;&nbsp;&rarr;</a></li>
       	  </ul>
       	</li>
       	<li class="divider"></li>
       	<li class="active"><a href="manage.html">Manage</a></li>
       	<li><a href="themes.html">Themes</a></li>
       	<li><a href="stats.html">Stats</a></li>
      </ul>
      <ul class="secondary-nav">
       	<li class="dropdown" data-dropdown="dropdown"><a href="#" class="dropdown-toggle user-name">Dee Giarratano</a>
       	  <ul class="dropdown-menu">
       	    <li><a href="../settings.html">Settings</a></li>
       	    <li><a href="../account.html">Account</a></li>
       	    <li><a href="../billing.html">Billing</a></li>
       	    <li class="divider"></li>
       	    <li><a href="logout">Logout</a></li>
       	  </ul>
       	</li>
       	<li class="divider-vertical"></li>
       	<li><a href="support.html">Support</a></li>
      </ul>
    </div>  <!--  Container  -->
  </div>  <!--  Fill  -->
</div>  <!--  Topbar  -->
