<div class="row">
  <div id="page-wrap" class="container">
    <header>
      <a href="http://www.scanshowsell.com"><img src="images/title_sm.png" alt="ScanShowSell.com" border="0" /></a>
      <ul class="main-nav pull-right">
	<li><a href="settings.html">Settings</a></li>
	<li><a href="../account.html">Account</a></li>
	<li><a href="../billing.html">Billing</a></li>
      </ul>
    </header>
    
    <div class="container">
      <div id="builderMenu" class="span8">
	<ul class="nav">
	  <li class="active"><a href="dashboard.html">Build</a></li>
	  <li><a href="themes.html">Themes</a></li>
	  <li><a href="stats.html">Stats</a></li>
	</ul>
      </div>

      <div id="siteEditorMenu" class="span9">
	<ul class="nav secondary-nav">
	  <li class="dropdown" data-dropdown="dropdown">
	    <a href="#" id="siteSelect" class="dropdown-toggle" style="font-size:1em;font-weight:600;">Currently Editing: Flash Gordon Electric</a>
	    <ul class="dropdown-menu">
              <li><a href="#">Discount Cabinet Designs</a></li>
              <li><a href="#">Long Cane Group</a></li>
              <li class="divider"></li>
              <li><a href="mwb/create.html">+&nbsp;&nbsp;Add another site...</a></li>
              <li><a href="mwb/manage.html">Manage sites...</a></li>
            </ul>
          </li>
	</ul>
      </div>
    </div>
    
    <div id="wizard-nav" class="row">
      <ul class="pills">
        <li><a href="profile.html">Company Profile</a></li>
        <li><a href="manage-photos.html">Upload Photos</a></li>
        <li><a href="services.html">Services/Products</a></li>
        <li><a href="service-areas.html">Service Area</a></li>
        <li><a href="special-offers.html">Special Offers</a></li>
        <li><a href="feedback.html">What Your Customers Say</a></li>
        <li><a href="credentials.html">Credentials</a></li>
        <li><a href="optional-pages.html">Optional Pages</a></li>
        <li class="active"><a href="choose-theme.html">Choose a Theme</a></li>
        <li><a href="prevpub.html">Preview &amp; Publish</a></li>
      </ul>
    </div>
    
    <!-- TEMPLATE PICKER -->
    <div class="row">
      <div id="template-picker">
        <h4>Choose a Theme</h4>
        <!-- TEMPLATE PANEL -->
        <ul id="templateSlider">
          <li>
            <ul class="block-grid five-up" id="templates">
              <li class="active">
                <img src="images/black_sm.png"/>
                <div class="btnContainer">
                  <a href="images/black.png" title="Black" rel="gallery" class="btn default">Preview</a>
                  <a href="preview-and-publish.html" class="btn success">Apply</a>
                </div>
              </li>
              <li>
                <img src="images/blueandgray_sm.png"/>
                <div class="btnContainer">
                  <a href="#" class="btn default">Preview</a>
                  <a href="preview-and-publish.html" class="btn success">Apply</a>
                </div>
              </li>
              <li>
                <img src="images/grayandwhite_sm.png"/>
                <div class="btnContainer">
                  <a href="#" class="btn default">Preview</a>
                  <a href="preview-and-publish.html" class="btn success">Apply</a>
                </div>
              </li>
              <li>
                <img src="images/white_sm.png"/>
                <div class="btnContainer">
                  <a href="#" class="btn default">Preview</a>
                  <a href="preview-and-publish.html" class="btn success">Apply</a>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <ul class="block-grid five-up" id="templates">
              <li class="active">
                <img src="images/black_sm.png"/>
                <div class="btnContainer">
                  <div class="btnContainer">
                    <a href="#" class="btn default">Preview</a>
                    <a href="preview-and-publish.html" class="btn success">Apply</a>
                  </div>
                </div>
              </li>
              <li>
                <img src="images/blueandgray_sm.png"/>
                <div class="btnContainer">
                  <div class="btnContainer">
                    <a href="#" class="btn default">Preview</a>
                    <a href="preview-and-publish.html" class="btn success">Apply</a>
                  </div>
                </div>
              </li>
              <li>
                <img src="images/grayandwhite_sm.png"/>
                <div class="btnContainer">
                  <div class="btnContainer">
                    <a href="#" class="btn default">Preview</a>
                    <a href="preview-and-publish.html" class="btn success">Apply</a>
                  </div>
                </div>
              </li>
              <li>
                <img src="images/white_sm.png"/>
                <div class="btnContainer">
                  <a href="#" class="btn default">Preview</a>
                  <a href="preview-and-publish.html" class="btn success">Apply</a>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <ul class="block-grid five-up" id="templates">
              <li class="active">
                <img src="images/black_sm.png"/>
                <div class="btnContainer">
                  <a href="#" class="btn default">Preview</a>
                  <a href="preview-and-publish.html" class="btn success">Apply</a>
                </div>
              </li>
              <li>
                <img src="images/blueandgray_sm.png"/>
                <div class="btnContainer">
                  <a href="#" class="btn default">Preview</a>
                  <a href="preview-and-publish.html" class="btn success">Apply</a>
                </div>
              </li>
              <li>
                <img src="images/grayandwhite_sm.png"/>
                <div class="btnContainer">
                  <a href="#" class="btn default">Preview</a>
                  <a href="preview-and-publish.html" class="btn success">Apply</a>
                </div>
              </li>
              <li>
                <img src="images/white_sm.png"/>
                <div class="btnContainer">
                  <a href="#" class="btn default">Preview</a>
                  <a href="preview-and-publish.html" class="btn success">Apply</a>
                </div>
              </li>
            </ul>  <!-- /templates -->
          </li>
        </ul>  <!-- /slider1 -->
        <a href="#" id="go-prev" class="pull-left"><button class="btn primary mini">&nbsp;&larr;&nbsp;</button></a>
        <a href="#" id="go-next" class="pull-right"><button class="btn primary mini">&nbsp;&rarr;&nbsp;</button></a>
      </div>  <!--/template-picker -->
      
      
      
      <nav class="form_btm">
        <div class="span7">
	  <a href="feedback.html"><button class="btn default large">&larr;&nbsp;&nbsp;Back:&nbsp;What Your Customers Say</button></a>
	</div>
	<div class="span4">
	  <a href="#"><button class="btn success large">Save</button></a>
	</div>
	<div class="span5">
	  <a href="prevpub.html"><button class="btn primary large pull-right">Next:&nbsp;&nbsp;Preview &amp; Publish&nbsp;&nbsp;&rarr;</button></a>
	</div>
      </nav>
      
    </div>
  </div> <!-- /container -->
</div>
