<!-- PREVIEW 7 PUBLISH -->
<div class="row">
  <div id="preview-publish">
    <h4>Preview &amp; Publish</h4>
    <div id="instructions" class="span5">
      <h5>Your website is ready to go!</h5>
      <p>You're now ready to publish your mobile site. To the right is a preview of your site. Be sure to play around with it and double check your information.</p>
      <br />
      <form method="GET">
        <input name="websiteName" type="hidden"/>
        <input id="publish" class="btn span5 success" type="submit" value="Publish &amp; Generate QR Code"/>
      </form>
      <br />
      <img src="http://placehold.it/280&text=YOUR+QR+CODE+HERE" alt="QR code placeholder" />
    </div>
    
    <div id="emulator-wrap" class="span10 offset5">
      <div id="emulator">
        <iframe id="emulator-view" src=""></iframe>
      </div>
    </div>
  </div>  <!--/preview-publish -->
</div>
