<!-- SERVICES -->
<div id="services" class="row">
  <div id="services-form" class="span10">
    <!-- SERVICE PANEL -->
    <div id="service-panel">
      
      <!-- =====  SERVICE FORM  ===== -->
      <form id="serviceForm" name="service" action="mobile/updateFields">
	<ul class="listServices">
          <li>
            <h5>Service/Product 1</h5>
            <div class="clearfix">
              <label>Type of Service</label>
              <div class="input">
             	<input class="span6" id="input" name="Service Type" type="text" placeholder="e.g. Home A/V Setup" required />
              </div>
            </div>
            <div class="clearfix">
              <label>Short Description</label>
              <div class="input">
             	<textarea name="Description" value="" rows="3" class="span6">Short description of service.</textarea>
             	<p class="hint-inline">Maximum of 200 characters.</p>
              </div>
            </div>
          </li>
          <li>
            <h5>Service/Product 2</h5>
            <div class="clearfix">
              <label>Type of Service</label>
              <div class="input">
             	<input class="span6" id="input" name="Service Type" type="text" placeholder="e.g. Home A/V Setup" required />
              </div>
            </div>
            <div class="clearfix">
              <label>Short Description</label>
              <div class="input">
             	<textarea name="Description" value="" rows="3" class="span6">Short description of service.</textarea>
             	<p class="hint-inline">Maximum of 200 characters.</p>
              </div>
            </div>
          </li>
          <li>
            <h5>Service/Product 3</h5>
            <div class="clearfix">
              <label>Type of Service</label>
              <div class="input">
             	<input class="span6" id="input" name="Service Type" type="text" placeholder="e.g. Home A/V Setup" required />
              </div>
            </div>
            <div class="clearfix">
              <label>Short Description</label>
              <div class="input">
             	<textarea name="Description" value="" rows="3" class="span6">Short description of service.</textarea>
             	<p class="hint-inline">Maximum of 200 characters.</p>
              </div>
            </div>
          </li>
          <li>
            <h5>Service/Product 4</h5>
            <div class="clearfix">
              <label>Type of Service</label>
              <div class="input">
             	<input class="span6" id="input" name="Service Type" type="text" placeholder="e.g. Home A/V Setup" required />
              </div>
            </div>
            <div class="clearfix">
              <label>Short Description</label>
              <div class="input">
             	<textarea name="Description" value="" rows="3" class="span6">Short description of service.</textarea>
             	<p class="hint-inline">Maximum of 200 characters.</p>
              </div>
            </div>
          </li>
          <li>
            <h5>Service/Product 5</h5>
            <div class="clearfix">
              <label>Type of Service</label>
              <div class="input">
             	<input class="span6" id="input" name="Service Type" type="text" placeholder="e.g. Home A/V Setup" required />
              </div>
            </div>
            <div class="clearfix">
              <label>Short Description</label>
              <div class="input">
             	<textarea name="Description" value="" rows="3" class="span6">Short description of service.</textarea>
             	<p class="hint-inline">Maximum of 200 characters.</p>
              </div>
            </div>
          </li>
        </ul>
        <a href="#" class="add_service"><button class="btn primary">Add Service</button></a>
      </form><!-- /serviceForm -->
      
    </div><!-- /service-panel -->
  </div>  <!--/span11 -->
  
  <div id="sidebar" class="span5">
    <img class="pull-left" src="images/icn-page-services.png" alt="Add Page: Services" />
    <h5>Tell prospects what you do.</h5>
    <p>Define the services you offer here. Potential customers will be able to select from these options when contacting you.</p>
    <div class="alert-message block-message warning">
      <p>Add up to three services or products for your free trial. Paid subscriptions are allowed more. <strong><a href="http://www.scanshowsell.com/pricing.html">Upgrade today!</a></strong></p>
    </div>
    <div id="btn-group">
      <p class="btn-options"><a href="#"><button class="btn default span5">Save</button></a></p>
      <p class="btn-options"><a href="manage.html"><button class="btn primary span5">&larr;&nbsp;&nbsp;Back to Manager</button></a></p>
    </div>
  </div>
</div>
