<!-- SPECIAL OFFERS -->
<div id="section-special-offers" class="span16">
<div class="row">
  <div id="special-offers-form" class="span10">
    <!-- SPECIAL OFFERS PANEL -->
    <div id="special-offers-panel">
      <!-- =====  SPECIALS FORM  ===== -->
      <form id="speciaOffersForm" name="Specials" action="mobile/updateFields">
	<ul class="listSpecialOffers">
	  <li>
	    <h5>Special 1</h5>
            <div class="clearfix">
              <label>Offer Name</label>
              <div class="input">
                <input class="span6" id="input" name="Special Offer Name" type="text" placeholder="Handy-Man Special" required />
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label>Discount Amount</label>
              <div class="input">
                <input class="mini" id="mini" name="discountAmount" type="text" placeholder="25" required />
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label for="miniSelect">Discount Type</label>
              <div class="input">
                <select class="mini" name="miniSelect" id="miniSelect">
	          <option>$</option>
	          <option>%</option>
                </select>
              </div>
            </div>
            <div class="clearfix">
              <label>Short Description</label>
              <div class="input">
                <textarea name="Description" value="" rows="3" class="span6" placeholder="Are there any special restrictions? When does the offer expire?"></textarea>
                <p class="hint-inline">Maximum 200 characters.</p>

              </div>
            </div>  <!-- /clearfix -->
          </li>
          <li>
	    <h5>Special 2</h5>
            <div class="clearfix">
              <label>Offer Name</label>
              <div class="input">
                <input class="span6" id="input" name="Special Offer Name" type="text" placeholder="Handy-Man Special" required />
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label>Discount Amount</label>
              <div class="input">
                <input class="mini" id="mini" name="discountAmount" type="text" placeholder="25" required />
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label for="miniSelect">Discount Type</label>
              <div class="input">
                <select class="mini" name="miniSelect" id="miniSelect">
	          <option>$</option>
	          <option>%</option>
                </select>
              </div>
            </div>
            <div class="clearfix">
              <label>Short Description</label>
              <div class="input">
                <textarea name="Description" value="" rows="3" class="span6" placeholder="Are there any special restrictions? When does the offer expire?"></textarea>
                <p class="hint-inline">Maximum 200 characters.</p>
              </div>
            </div>  <!-- /clearfix -->
          </li>
          <li>
	    <h5>Special 3</h5>
            <div class="clearfix">
              <label>Offer Name</label>
              <div class="input">
                <input class="span6" id="input" name="Special Offer Name" type="text" placeholder="Handy-Man Special" required />
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label>Discount Amount</label>
              <div class="input">
                <input class="mini" id="mini" name="discountAmount" type="text" placeholder="25" required />
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <label for="miniSelect">Discount Type</label>
              <div class="input">
                <select class="mini" name="miniSelect" id="miniSelect">
	          <option>$</option>
	          <option>%</option>
                </select>
              </div>
            </div>
            <div class="clearfix">
              <label>Short Description</label>
              <div class="input">
                <textarea name="Description" value="" rows="3" class="span6" placeholder="Are there any special restrictions? When does the offer expire?"></textarea>
                <p class="hint-inline">Maximum 200 characters.</p>
              </div>
            </div>  <!-- /clearfix -->
          </li>
        </ul>
      </form><!-- /specialOffersForm -->
    </div><!-- /special-offers-panel -->
  </div>  <!--/special-offers-form span10 -->
  
  <div id="sidebar" class="span5">
    <img class="pull-left" src="../images/icn-page-specials.png" alt="Add Page: Specials" />
    <h5>Let's make a deal!</h5>
    <p>Everybody loves a discount. Got a special promotion you're running? You can add them here. Give your promotion a name, define the discount amount, and add a short description. Once you're finished, you can preview how the discount will look below.</p>
    <div class="alert-message block-message warning">
      <p>Add up to three special offers for your free trial. Paid subscriptions are allowed more. <strong><a href="http://www.scanshowsell.com/pricing.html">Upgrade today!</a></strong></p>
    </div>
    <div id="btn-group">
      <p class="btn-options"><a href="#"><button class="btn default span5">Save</button></a></p>
      <p class="btn-options"><a href="manage.html"><button class="btn primary span5">&larr;&nbsp;&nbsp;Back to Manager</button></a></p>
    </div>
  </div><!-- /sidebar -->
</div><!-- /row -->
</div><!-- /section-special-offers -->
