<!-- OPTIONAL PAGES -->
<div id="optional-pages-form" class="span10">
  <form id="optionalPagesForm" name="optional-pages" class="form-stacked" method="POST">
    <div class="clearfix">
      <label id="optionsRadio">Would you like to place a "Submit Testimonial" button on your mobile site's home page?</label>
      <div class="input">
  	<ul class="inputs-list">
  	  <li>
  	    <label><input type="radio" checked name="submit-testimonial" value="yes" /><span>Yes</span></label>
  	  </li>
  	  <li>
  	    <label><input type="radio" name="submit-testimonial" value="no" /><span>No</span></label>
  	  </li>
  	</ul>
      </div><!-- /input -->
    </div><!-- /clearfix -->
  </form>
</div>  <!--/span10 -->

<div id="sidebar" class="span5">
  <img class="pull-left" src="../images/icn-page-sub-test.png" alt="Add Page: Submit Testimonial" />
  <h5>Submit Testimonial</h5>
  <p>This places a 'Submit Testimonial' button on your website's home page. Use this feature to give your current customers an easy way to submit a testimonial.</p>
  <div id="btn-group">
    <a href="#" class="btn success">Save</a>
    <a href="manage.html" class="btn default">&larr;&nbsp;&nbsp;Back to Manager</a>
  </div>
</div>
