

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Page Styles
:: Lists
:: Typography 
:: Content Islands
:: Navigation
:: Top Bar
:: Miscallaneous Styles
*/

/*	--------------------------------------------------
	Page Styles
	-------------------------------------------------- */
	
	body {
			background: url('../images/bg_grid-light.png') left bottom repeat, rgb(1,50,135);
			background: url('../images/bg_grid-light.png') left bottom repeat, -moz-linear-gradient(top, rgba(1,50,135,1) 0%, rgba(1,30,63,1) 100%);
			background: url('../images/bg_grid-light.png') left bottom repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,50,135,1)), color-stop(100%,rgba(1,30,63,1)));
			background: url('../images/bg_grid-light.png') left bottom repeat, -webkit-linear-gradient(top, rgba(1,50,135,1) 0%,rgba(1,30,63,1) 100%);
			background: url('../images/bg_grid-light.png') left bottom repeat, -o-linear-gradient(top, rgba(1,50,135,1) 0%,rgba(1,30,63,1) 100%);
			background: url('../images/bg_grid-light.png') left bottom repeat, -ms-linear-gradient(top, rgba(1,50,135,1) 0%,rgba(1,30,63,1) 100%);
			background: url('../images/bg_grid-light.png') left bottom repeat, linear-gradient(top, rgba(1,50,135,1) 0%,rgba(1,30,63,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013287', endColorstr='#011e3f',GradientType=0 );
			}
	#panel-wrap	{
			margin:72px auto;
			padding:10px;
			width:940px;
			background:rgba(0,16,35,0.5);
			-webkit-box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);
			-moz-box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);
			-o-box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);
			box-shadow:inset 0px 0px 6px rgba(0,0,0,0.5);
			border-radius:2px;
			}
	#panel			{
			padding:20px;
			background:#fcfcfc;
			-webkit-box-shadow:0px 3px 6px rgba(0,0,0,0.5);
			-moz-box-shadow:0px 3px 6px rgba(0,0,0,0.5);
			-o-box-shadow:0px 3px 6px rgba(0,0,0,0.5);
			box-shadow:0px 3px 6px rgba(0,0,0,0.5);
			border-radius:2px;
			}
	#page-wrap		{
			margin:0;
			padding:20px;
			width:860px;
			float:left;
			}


	
/*	--------------------------------------------------
	Header
	-------------------------------------------------- */

	header			{ padding:25px 20px;}
	.main-nav		{ margin:0;padding-top:18px;list-style:none;zoom:1; }
	.main-nav li	{ float:left; }
	.main-nav li a	{ margin:0 10px;padding:5px 10px;color:#c3c3c3;text-decoration:none;display:block;border-radius:4px;}
	.main-nav li a:last-child	{ margin-right:0 !important; }
	.main-nav li a:hover	{ background:#f3f3f3;color:rgb(0, 105, 214); }
	
	.call-us					{padding:10px;background-color:#e3e3e3;border-radius:2px;color:#494949;font-weight:600;font-size:1.05em;text-decoration:none;display:block;}
    .call-us:hover				{background-color:#393939;color:#f3f3f3;text-decoration:none;}
	


/*	--------------------------------------------------
	Lists
	-------------------------------------------------- */
	
	#sitemap-1		{margin:0;padding:0;float:left;list-style:none;}
	#sitemap-2		{margin:0 0 0 40px;float:left;list-style:none;}
	
	.breadcrumb		{margin-top:12px;}

	


/*    --------------------------------------------------
    Typography
    -------------------------------------------------- */
    
    .hint-inline			{padding:0;color:#848484;max-width:700px;}
    .register		{font-size:1.5em !important;color:#696969 !important;}
    
    
    
/*  --------------------------------------------------
    Navigation 
    -------------------------------------------------- */ 
    
    #wizard-nav		{
    				margin-top:18px;
    				padding:0;
					border-top:1px solid #e3e3e3;
					border-bottom:1px solid #e3e3e3;
					}
    nav.form_btm	{padding:30px 0 0 0;background-color:#f9f9f9;border-top:1px solid #dedede;height:72px;position:relative;bottom:0;clear:both;}
	.tabs {
			  margin:0;
			  padding: 0;
			  list-style: none;
			  zoom: 1;
			}
	.tabs:before,
	.tabs:after{
			  display: table;
			  content: "";
			  zoom: 1;
			  *display: inline;
			}
	.tabs:after{
			  clear: both;
			}
	.tabs > li{
			  float: left;
			}
	.tabs > li > a{
			  display: block;
			}
	.tabs {
			  float: left;
			  width: 100%;
			}
	.tabs > li {
			  position: relative;
		    }
	.tabs > li > a {
			  color:#b3b3b3;
			  font-weight:500;
			  margin:18px 0px 18px 0;
			  padding: 10px 9px;
			  /*  text-shadow: 0 1px 1px rgba(255,255,255,0.35);  */
			  line-height: 24px;
			  font-weight:600;
			}
	.tabs > li > a:hover {text-decoration:none;}
	.tabs > li.active > a {
			  color: #f3f3f3;
			  background-color:#393939;
			  border-radius:4px;
			  text-shadow:none;
			}
	.tabs .menu-dropdown, .tabs .dropdown-menu {
			  top: 35px;
			  border-width: 1px;
			  -webkit-border-radius: 0 6px 6px 6px;
			  -moz-border-radius: 0 6px 6px 6px;
			  border-radius: 0 6px 6px 6px;
			}
	.tabs a.menu:after, .tabs .dropdown-toggle:after {
			  border-top-color: #999;
			  margin-top: 15px;
			  margin-left: 5px;
			}
	.tabs li.open.menu .menu, .tabs .open.dropdown .dropdown-toggle {
			  border-color: #999;
			}
	.tabs li.open a.menu:after, .tabs .dropdown.open .dropdown-toggle:after {
			  border-top-color: #555;
			}
	.tab-content {
			  clear: both;
			}
	.tab-content > * {
			  display: none;
			}
	.tab-content > .active {
			  display: block;
			}


    
    
/*  --------------------------------------------------
    Content Blocks
    -------------------------------------------------- */ 
    
    #start-website, #preview-and-publish				{background-color:#f3f3f3;}
    #instructions				{margin:18px 0;padding:20px;background-color:#e3e3e3;z-index:9999;}
    #information				{margin-top:18px;margin-bottom:18px;}
    
    #create-website-block		{padding:18px 0 18px 19px;background-color:#fcfcfc;border-left:1px solid #d3d3d3;}
    
    /*  For the Manage Website intro page.
    #create-website-block		{margin:18px 0 18px 20px;padding:20px;background-color:#e3e3e3;border:1px solid #d3d3d3;width:420px;height:210px;float:left;}
    #manage-website-block		{margin:18px 0 18px 20px;padding:20px;background-color:#e3e3e3;border:1px solid #d3d3d3;width:420px;height:210px;float:left;}
    */
    
    /* -- Company Profile -- */
    #profile							{background-color:#e3e3e3;}
    #profile-form						{margin-left:0;padding:18px 0;background-color:#fcfcfc;border-right:1px solid #d3d3d3;}
    #company-profile					{margin-top:18px;padding-top:18px;border-top:1px solid #efefef;}
    #contact-information				{padding-top:18px;border-top:1px solid #d3d3d3;}
    #fieldsForm							{padding-top:18px;}
    #sidebar							{padding-top:18px;}
    #sidebar img						{margin:0 20px 10px 0;}
    #sidebar h5							{line-height:24px;}
    
    /* -- Photo Uploader -- */
    #upload-photos					{background-color:#e3e3e3;}
    #upload-wrap					{margin-left:0;padding:18px 0;background-color:#fcfcfc;border-right:1px solid #d3d3d3;}
    #fileupload						{margin-top:18px;padding:18px 0;border-top:1px solid #efefef;}
    #photo-panel					{margin:18px 0;padding:10px;padding-top:15px;background-color:#efefef;border:1px solid #e1e1e1;width:480px;display:block;position:relative;float:left;}
    .thumb-wrap						{margin-right:20px;width:210px;display:inline;float:left;}
    .photo-form						{margin-left:10px;display:inline;float:left;}
    .photo-form > .form-stacked		{padding-left:0 !important;}
    .photo-buttons					{margin:18px 0;width:100%;display:block;position:relative;}
    
    /* -- Services -- */
    #services						{background-color:#e3e3e3;}
    #services-form					{margin-left:0;padding:18px 0;background-color:#fcfcfc;border-right:1px solid #d3d3d3;}
    #service-panel					{margin-top:18px;border-top:1px solid #efefef;}
    #serviceForm					{padding-top:18px;}
    .listServices					{margin:0;list-style:none;}
    
    /* -- Service Areas -- */
    #service-area					{background-color:#e3e3e3;}
    #service-areas-form				{margin-left:0;padding:18px 0;background-color:#fcfcfc;border-right:1px solid #d3d3d3;}
    #service-areas-panel			{border-top:1px solid #efefef;}
    #serviceAreasForm				{padding-top:18px;padding-left:0;}
    #serviceAreasForm input			{margin-top:7px;}
    .listServiceArea				{margin:0;list-style:none;}
    .listServiceArea li				{margin-bottom:18px;}
    
    
    /* -- Special Offers -- */
    #special-offers					{background-color:#e3e3e3;}
    #special-offers-form			{margin-left:0;padding:18px 0;background-color:#fcfcfc;border-right:1px solid #d3d3d3;}
    #special-offers-panel			{border-top:1px solid #efefef;}
    #specialOffersForm				{padding-top:18px;}
    .listSpecialOffers				{margin:0;list-style:none;}
    
    /* -- Testimonials -- */
    #testimonials					{background-color:#e3e3e3;}
    #testimonials-form				{margin-left:0;padding:18px 0;background-color:#fcfcfc;border-right:1px solid #d3d3d3;}
    #testimonials-panel				{border-top:1px solid #efefef;}
    #testimonialsForm				{padding-top:18px;}
    .listFeedback					{margin:0;list-style:none;}
    
    /* -- Accreditations -- */
    #accreditation					{background-color:#e3e3e3;}
    #accreditation-form				{margin-left:0;padding:18px 0;background-color:#fcfcfc;border-right:1px solid #d3d3d3;}
    #accreditation-panel			{border-top:1px solid #efefef;}
    #accreditationForm				{padding-top:18px;}
    .listCredentials				{margin:0;list-style:none;}
    .listCredentials li				{margin-bottom:18px;}
    
    /* -- Optional Pages -- */
    #optional-pages					{background-color:#e3e3e3;}
    #optional-pages-form			{margin-left:0;padding:18px 0;background-color:#fcfcfc;border-right:1px solid #d3d3d3;}
    #optional-pages-panel			{border-top:1px solid #efefef;}
    #optionalPagesForm				{padding-top:18px;}
    .inputs-list					{margin:18px 0;list-style:none;}
    .inputs-list li					{margin-bottom:18px;padding:0 10px;width:480px;border:1px solid #e1e1e1;border-radius:4px;background:#efefef;}
    .inputs-list li:hover			{background-color:#ebebeb;border:1px solid #d3d3d3;}
    .inputs-list li label			{line-height:2.5em;font-size: 1.2em;}
    .inputs-list li label input		{margin-right:10px;}
    
    .inputs-list li.opt-selected	{background-color:#3399ff;border-color:#3399ff;}
    .inputs-list li.opt-selected:hover	{background-color:#3399ff;border-color:#0066ff;}
    .inputs-list li.opt-selected label	{color:#f3f3f3;}
    
    /* -- Template Picker -- */
    #template-picker				{padding-bottom:36px;background-color:#fcfcfc;width:860px;display:inline;float:left;}
    #template-picker > h1			{margin:18px 0;}
    #templateSlider					{margin:0 !important;}
    #templates  					{margin:36px 0 54px 0;}
    #templates li 					{background-color:#f3f3f3;margin-right:24px;margin-bottom:36px;padding:10px;border:1px solid #737373;box-shadow:0 0 2px rgba(0,0,0,0.55);} 	
    #templates li:hover 			{background-color:#fcfcfc;border:1px solid #434343;box-shadow:0 0 4px rgba(0,0,0,0.75);}
    #templates li.active 			{background-color:#fcfcfc;border:1px solid #00AAFF;box-shadow:0 0 4px rgba(0,0,0,0.75);}
    #templates li img				{margin-bottom:14px;}
    .btnContainer					{margin-left:18px;}
    #go-prev						{margin-top:-25px;margin-left:150px;}
    #go-next						{margin-top:-25px;margin-right:150px;}
              
    /* -- Preview & Publish -- */
    #preview-publish				{padding-top:18px;padding-bottom:36px;background-color:#fcfcfc;width:860px;display:inline;float:left;}
    #preview-publish h4				{margin-left:20px;}
    #emulator-wrap					{margin-left:0;float:right;}
    #emulator {
        display: inline-block;
        float:left;
        background-image:url('../images/iphone_bck.png');
        background-repeat:no-repeat;
        background-attachment:inherit;
        background-position:0px 0px; 
        width:496px;
        height:980px;
      }

      #emulator-view {
        position:relative;
        top: 180px;
        left:50px;
        width: 405px;
        height: 615px;
      }
    


/*  --------------------------------------------------
    Builder Navigation Tabs
    -------------------------------------------------- 
    
	#builderMenu .nav {
	  display: block;
	  float: left;
	  margin: 0 10px 0 0;
	  position: relative;
	  left: 0;
	}
	#builderMenu .nav > li {
	  display: block;
	  float: left;
	}
	#builderMenu .nav a {
	  display: block;
	  float: none;
	  margin-bottom:-1px;
	  padding: 12px 20px;
	  line-height: 24px;
	  text-decoration: none;
	  font-size: 1.25em;
	  color:#e3e3e3;
	  border-top:1px solid #232323;
	  border-right:1px solid #232323;
	  background-color:#222;
	}
	#builderMenu .nav a:hover {
	  color:#f3f3f3;
	  text-decoration: none;
	}
	#builderMenu .nav .active > a {
	  background-color:#222;
	  border-top:3px solid rgb(0, 105, 214);
	  color:#f3f3f3;
	  font-weight:600;
	  margin-bottom:-1px;
	}
	#builderMenu .nav.secondary-nav {
	  float: right;
	  margin-left: 0;
	  margin-right: 0;
	  margin-bottom:-1px;
	  border-right:none;
	  border-left:1px solid #232323;
	}
	#builderMenu .nav.secondary-nav .dropdown-toggle {
	  margin-bottom:0;
	  padding:6px 31px;
	  background-color:#333;
	  border-top:1px solid #232323;
	  border-right:none;
	  border-bottom:1px solid #232323;
	  color:#e3e3e3;
	  font-weight:500;
	  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	}
	#builderMenu .nav.secondary-nav .menu-dropdown,
	#builderMenu .nav.secondary-nav .dropdown-menu {
	  right: 0;
	  border: 0;
	}
	#builderMenu .nav a.menu:hover,
	#builderMenu .nav li.open .menu,
	#builderMenu .nav .dropdown-toggle:hover,
	#builderMenu .nav .dropdown.open .dropdown-toggle {
	  background: #232323;
	}
	#builderMenu .nav .menu-dropdown,
	#builderMenu .nav .dropdown-menu {
	  background-color: #222;
	}
	#builderMenu .nav .menu-dropdown a.menu,
	#builderMenu .nav .dropdown-menu a.menu,
	#builderMenu .nav .menu-dropdown .dropdown-toggle,
	#builderMenu .nav .dropdown-menu .dropdown-toggle {
	  color:#e3e3e3;
	}
	#builderMenu .nav .menu-dropdown a.menu.open,
	#builderMenu .nav .dropdown-menu a.menu.open,
	#builderMenu .nav .menu-dropdown .dropdown-toggle.open,
	#builderMenu .nav .dropdown-menu .dropdown-toggle.open {
	  background: #333;
	}
	#builderMenu .nav .menu-dropdown li a,
	#builderMenu .nav .dropdown-menu li a {
	  color: #e3e3e3;
	  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	  font-size:1em;
	  padding:5px 20px;
	}
	#builderMenu .nav .menu-dropdown li a:hover,
	#builderMenu .nav .dropdown-menu li a:hover {
	  background-color: #090909;
	  background-repeat: repeat-x;
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#191919), to(#090909));
	  background-image: -moz-linear-gradient(top, #191919, #090909);
	  background-image: -ms-linear-gradient(top, #191919, #090909);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #191919), color-stop(100%, #090909));
	  background-image: -webkit-linear-gradient(top, #191919, #090909);
	  background-image: -o-linear-gradient(top, #191919, #090909);
	  background-image: linear-gradient(top, #191919, #090909);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191919', endColorstr='#090909', GradientType=0);
	  color: #ffffff;
	}
	#builderMenu .nav .menu-dropdown .active a,
	.nav .dropdown-menu .active a {
	  color:#e3e3e3;
	}
	#builderMenu .nav .menu-dropdown .divider,
	#builderMenu .nav .dropdown-menu .divider {
	  background-color: #222;
	  border-color: #444;
	}
	#builderMenu li.menu, .dropdown {
	  position: relative;
	}
	#builderMenu a.menu:after, .dropdown-toggle:after {
	  width: 0;
	  height: 0;
	  display: inline-block;
	  content: "&darr;";
	  text-indent: -99999px;
	  vertical-align: top;
	  margin-top: 8px;
	  margin-left: 4px;
	  border-left: 4px solid transparent;
	  border-right: 4px solid transparent;
	  border-top: 4px solid #ffffff;
	  filter: alpha(opacity=50);
	  -khtml-opacity: 0.5;
	  -moz-opacity: 0.5;
	  opacity: 0.5;
	}
	#builderMenu .menu-dropdown, .dropdown-menu {
	  background-color: #333;
	  float: left;
	  display: none;
	  position: absolute;
	  top: 38px;
	  z-index: 900;
	  min-width: 160px;
	  max-width: 220px;
	  _width: 160px;
	  margin-left: 0;
	  margin-right: 0;
	  padding: 6px 0;
	  zoom: 1;
	  border-color: #494949;
	  border-style: solid;
	  border-width: 0 1px 1px;
	  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
	  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
	  -webkit-background-clip: padding-box;
	  -moz-background-clip: padding-box;
	  background-clip: padding-box;
	}
	#builderMenu .menu-dropdown li, .dropdown-menu li {
	  float: none;
	  display: block;
	  background-color: none;
	}
	#builderMenu .menu-dropdown .divider, .dropdown-menu .divider {
	  height: 1px;
	  margin: 5px 0;
	  overflow: hidden;
	  background-color: #eee;
	  border-bottom: 1px solid #ffffff;
	}
	#builderMenu .dropdown-menu a {
	  display: block;
	  padding: 4px 15px;
	  clear: both;
	  font-weight: normal;
	  line-height: 18px;
	  color: #808080;
	  text-shadow: 0 1px 0 #ffffff;
	}
	#builderMenu .dropdown-menu a:hover {
	  background-color: #dddddd;
	  background-repeat: repeat-x;
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
	  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
	  background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
	  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
	  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
	  background-image: linear-gradient(top, #eeeeee, #dddddd);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
	  color: #404040;
	  text-decoration: none;
	  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
	  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
	  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.025), inset 0 -1px rgba(0, 0, 0, 0.025);
	}
	#builderMenu .open .menu,
	#builderMenu .dropdown.open .menu,
	#builderMenu .open .dropdown-toggle,
	#builderMenu .dropdown.open .dropdown-toggle {
	  color:#f3f3f3;
	  background: #ccc;
	  background: rgba(0, 0, 0, 0.3);
	}
	#builderMenu .open .menu-dropdown,
	#builderMenu .dropdown.open .menu-dropdown,
	#builderMenu .open .dropdown-menu,
	#builderMenu .dropdown.open .dropdown-menu {
	  display: block;
	}
	*/


    
    
/*  --------------------------------------------------
    Miscellaneous
    -------------------------------------------------- */ 
    
    #btn-group			{margin:24px 0;padding:18px 0;border-top:1px solid #d3d3d3;}
    #preview-page		{width:340px;}
    #content			{margin-top:54px;margin-left:45px !important;}
    .inline				{margin-left:20px;display:inline;}
    
